{% extends "app/layout.html" %}
{# app/tabs/CNextStep.html #}

{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<h2 class=" offset-md-2">Costs</h2>
<div class="container col-8">
<form action='.' method='post' enctype="multipart/form-data">
{% csrf_token %}
    <div class="row mb-2">
        <div class="mx-3">
            <label class="form-label" for="scost" class="form-label">Company service costs</label>
            <input type="text" required name="scost" class="num form-control" value="0.00" id="scost">
        </div>
       <div class="mx-3">
            <label class="form-label" for="ocost" class="form-label">Other construction costs</label>
            <input type="text" required name="ocost" class="num form-control" value="0.00" id="ocost">
        </div>    
        <div class="mx-3">
            <label class="mt-2 mb-2" style="text-decoration: underline; color: blue;" for="files" id="lable_file">Click here to select file (optional)</label>
            <input type="file" accept=".pdf" id="files" name="files" style=" visibility: hidden" />
        </div>
    </div>   
    <div class="row ml-1">
        <div class="layer mb-3">
            {% render_table table %}
        </div>
    </div>
    <h5 class="offset-8" id="total">Total price: 0</h5>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
</div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script>
    $('.inpt').change(chge);
    $('.num').change(chge);

    function chge(){
        var row = $(this).closest("tr");
        var vprice = row.find('.vprice').text();
        var count = parseFloat($(this).val());
        vprice = parseFloat(vprice);
        row.find('.vtotal').text((count * vprice).toFixed(2));

        var x = document.getElementsByClassName("vtotal");
        var total = 0;
        for (var i = 0; i < x.length; i++) {
            if (x[i].innerText != "0")
                total += parseFloat(x[i].innerText);
        }

        var scost = document.getElementById("scost").value;
        var ocost = document.getElementById("ocost").value;

        ocost = parseFloat(ocost);
        scost = parseFloat(scost);
        total = total + ocost + scost;
        total = total.toFixed(2);
        
        document.getElementById('total').innerText = "Total price: " + total;
    }
</script>
<script>
  $( document ).ready(function() {       
        var x1 = document.getElementsByClassName("inpt");
        var x2 = {{countlist|safe}};   
        for (var i = 0; i < x1.length; i++) {
           x1[i].setAttribute("max", x2[i]);
        }       
    })

</script>
<script> $('.num').inputmask({
   'alias':          'decimal',
   'digits':         2,
   'digitsOptional': false,
   'placeholder':    '0.00'
}); </script>
{% endblock %}

