{% extends "app/layout.html" %}
{# app/tabs/Create.html #}

{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<h2 class="offset-md-1 pb-1 border-bottom">Create order</h2>
<form action='.' method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container col-8">
        <div class="row">
            <div class="mx-3">
                <label class="form-label" for="oname" class="form-label">Order name</label>
                <input type="text" required name="oname" class="form-control" id="oname">
            </div>
            <div class="mx-3">
                <label class="form-label" for="daten">Order date:</label>
                <br>
                <input class="form-control" required type="date" readonly name="datetimenow" id="daten">
            </div>
            <div class="mx-3">
                <label class="form-label" for="datec">Order completion date:</label>
                <br>
                <input class="form-control" required type="date" name="datetime" id="datec" required>
            </div>
        </div>
        <div class="col-10 px-0">
            <label class="form-label" for="odesc" class="form-label">Description</label>
            <input type="text" required name="odesc" class="form-control" id="odesc">
        </div>
        <div class="col-11 row mt-3">
            <div class="layer mb-3">
            {% render_table table %}
            </div>
        </div>
        <br>
        <input type="submit" name="next" value="Next step" class="btn btn-primary">
    </div>
</form>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script>
    window.onload = function () {
        var d = new Date();
        // Build ISO 8601 format date string
        var s = d.getFullYear() + '-' +
            ('0' + (d.getMonth() + 1)).slice(-2) + '-' +
            ('0' + d.getDate()).slice(-2);

        // Set the value of the value and min attributes
        var node = document.getElementById('datec');
        if (node) {
            node.setAttribute('min', s);
            node.setAttribute('value', s);
        }

        var node = document.getElementById('daten');
        if (node) {
            node.setAttribute('min', s);
            node.setAttribute('value', s);
        }
    }
</script>
<script>
    $("#files").change(function () {
        $("#lable_file").html($(this).val().split("\\").splice(-1, 1)[0] || "Select file");
    });
</script>
{% endblock %}