{% extends "app/layout.html" %}
{# app/resources.html #}

{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<h2 class=" offset-md-2">Materials</h2>
<div class="container-fluid">
    <div class="row justify-content-md-center col-12">
        <div class="layer mb-3">
            {% render_table table %}
        </div>
    </div>
    <div class="offset-md-6">
        <a class="btn btn-primary" href="{% url 'MaterialAdd' %}">Add new material</a>
        <a class="btn btn-primary" href="{% url 'MaterialDel' %}">Delete material</a>
    </div>
</div>
{% endblock %}

