{% extends "app/layout.html" %}

{% block content %}

<div class="container px-4 py-5">
    <h2 class="pb-1 border-bottom">Information page</h2>
    <div class="container-fluid">
          <div class="row justify-content-md-center col-12">
            <div class="card col-6 text-center">
                <img src="../../../static/app/img/error.svg" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The following information for you:</h5>
                    <p class="card-text">{{ error }}</p>
                    <a href="{% url 'login' %}" class="btn btn-primary col-12">Back to site</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
