<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaterialApp</title>
    {% load staticfiles %}
    <link rel="icon" href="../../../static/app/img/icon.ico">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
<style>
.wdt {width:150px;}

.layer {
overflow: scroll;
height: 300px;
border: solid 1px black; 
}
.layer2 {
overflow: scroll;
height: 600px;
}
</style>
</head>
<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a href="{% url 'menu' %}" class="navbar-brand"><img src="../../../static/app/img/tools.svg" style="height: 1.3em;"></a>
            <form class="d-flex" method="post">
                 <p style="color:white; margin-top: 1em;margin-right: 1em;" >{{ user.username }}</p>
                 <a style="color:white; margin-top: 1em;margin-right: 1em;" href="{% url 'logout' %}">Logout</a>
{% csrf_token %}
            </form>
      </div>
  </nav>
{% else %}
<nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand"><img src="../../../static/app/img/tools.svg" style="height: 1.3em;"></a>
      </div>
  </nav>
{% endif %}


    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <!---<p>&copy; MaterialApp</p>-->
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
