{% extends "app/layout.html" %}

{% block content %}

<div class="container px-4 py-5">
    <h2 class="pb-1 border-bottom">Main menu</h2>
    <div class="row row-cols-1 row-cols-md-4 mt-5 g-3">

        <div class="col">
            <div class="card text-center">
                <img src="../../../static/app/img/blueprint.svg" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Create a new project</h5>
                    <p class="card-text">Here is an opportunity to create a new project from existing drawings
                         or from a completely new drawing.</p>
                    <a href="{% url 'Create' %}" class="btn btn-primary col-12">Create</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../../../static/app/img/inwork.svg" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">See all projects</h5>
                    <p class="card-text">Here you can see all the proctitis, whether current or completed.
                    This section manages projects</p>
                    <a href="{% url 'Review' %}" class="btn btn-primary col-12">Review</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../../../static/app/img/warehouse.svg" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">View resources and materials</h5>
                    <p class="card-text">This tab for reviewing all resources, and the 
                        resources which are available.</p>
                    <a href="{% url 'Resources' %}" class="btn btn-primary col-12">Review</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../../../static/app/img/waybill.svg" class="card-img-top p-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Order materials</h5>
                    <p class="card-text">Here you can order and add new building materials.
                         This section is also responsible for suppliers.</p>
                    <a href="{% url 'Matorder' %}"  class="btn btn-primary col-12">To resources</a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
