{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div class="container col-12 bg-trasparent py-3 px-1" style="position: relative;">
    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}
    <a class="btn btn-warning btn-sm" href="{% url 'menu' %}"><i class="fas fa-chevron-circle-left"></i>Назад</a>
    <h5 class="text-center mb-2">Аналитика</h5>

    <form action='.' id="form1" method='POST'>
        {% csrf_token %}
        <div class="col-12 mb-2 border border-warning p-1 pb-2 mr-5">
            <div class="form-row mt-2">
                <div class="col-xl-2">
                    <label for="class-select">Месяц и год</label>
                    <div class="d-flex flex-nowrap">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            <select id="month" name="month">
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <input class="form-control border border-secondary form-control-xs-mine col-4" type="number" min="2005" max="2099" step="1" id="year" name="year__gte" value="2020" />
                        </div>
                    
                    <div class="d-flex flex-nowrap mt-2">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            <select id="month_end" name="month_end">
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <input class="form-control border border-secondary form-control-xs-mine col-4" type="number" min="2005" max="2099" step="1" id="year_end" name="year__lte" value="2020" />
                    </div>
                    </div>
                    <div class="col-xl-1">
                        <label for="class-select">Класс</label>
                        <div class="input-group flex-nowrap">
                            <select multiple="multiple" id="class-select" name="id_sections__id_house__id_buildings__class_field__in">
                                <option value="Де-люкс">Де-люкс</option>
                                <option value="Премиум">Премиум</option>
                                <option value="Бизнес">Бизнес</option>
                                <option value="Комфорт">Комфорт</option>
                                <option value="Эконом">Эконом</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <label for="customer">Заказчик</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                            <select multiple="multiple" id="customer" name="id_sections__id_house__id_buildings__customer__name__in">
                                {% for custs in cust %}
                                <option value="{{ custs.name }}">{{ custs.ownership.name}} {{ custs.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <label for="urban-zone">Зона</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                            <select multiple="multiple" id="urban-zone" name="id_sections__id_house__id_buildings__urban_develop_zone__in">
                                <option value="Центр">Центр</option>
                                <option value="Приближенный">Приближенный р-н</option>
                                <option value="Отдаленный">Отдаленный р-н</option>
                                <option value="Область">Область</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <label for="city-area">Бытовой район</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                            <select multiple="multiple" id="city-area" name="id_sections__id_house__id_buildings__city_area__name__in">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <label for="subway">Метрополитен</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-subway"></i></span>
                            <select multiple="multiple" id="subway" name="id_sections__id_house__id_buildings__subway__name__in">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <label for="urban-zone">Квартиры</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <select multiple="multiple" id="apart" name="apart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3 d-flex flex-row-reverse pr-1" id="insert">
                    <input type="submit" class="btn btn-success btn-sm mt-2 ml-1" name="show" value="Показать">
                </div>
            </div>

    </form>
    <div class="table-responsive col-12 pr-3 pl-0">
        <div class="col-12 p-0">
            <table id="DataTable" class='table table-sm table-Light' style="font-size: 0.7vw">
                <thead>
                    <tr>
                        <th colspan="10" style="background-color: #fffcfc;">Общая информация</th>
                        <th colspan="3" style="background-color: #ffc404; color: black">Общая сумма</th>
                        <th colspan="3" style="background-color: #30a444; color: white">Однокомнатные квартиры</th>
                        <th colspan="3" style="background-color: #087cfc; color: white">Двухкомнатные квартиры</th>
                        <th colspan="3" style="background-color: #e03444; color: white">Трехкомнатные квартиры</th>
                        <th colspan="3" style="background-color: #18a4bc; color: white">Четырехкомнатные квартиры</th>
                    </tr>
                    <tr>
                        <th class="bg-white ">Год</th>
                        <th class="bg-white ">Месяц</th>
                        <th class="bg-white ">Класс</th>
                        <th class="bg-white ">Застройщик</th>
                        <th class="bg-white ">Название</th>
                        <th class="bg-white ">Дом</th>
                        <th class="bg-white ">Секция</th>
                        <th class="bg-white ">Зона</th>
                        <th class="bg-white ">Район</th>
                        <th class="bg-white ">Метро</th>
                        <th class="bg-warning text-dark">Всего квартир</th>
                        <th class="bg-warning text-dark">Остаток квартир</th>
                        <th class="bg-warning text-dark">Остаток м<sup>2</sup></th>
                        <th class="bg-success text-white">Остаток квартир</th>
                        <th class="bg-success text-white">Остаток м<sup>2</sup></th>
                        <th class="bg-success text-white">Сред. цена</th>
                        <th class="bg-primary text-white">Остаток квартир</th>
                        <th class="bg-primary text-white">Остаток м<sup>2</sup></th>
                        <th class="bg-primary text-white">Сред. цена.</th>
                        <th class="bg-danger text-white">Остаток квартир</th>
                        <th class="bg-danger text-white">Остаток м<sup>2</sup></th>
                        <th class="bg-danger text-white">Сред. цена</th>
                        <th class="bg-info text-white">Остаток квартир</th>
                        <th class="bg-info text-white">Остаток м<sup>2</sup></th>
                        <th class="bg-info text-white">Сред. цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sales in sale %}
                    <tr>
                        <td>{{sales.year}}</td>
                        <td>{{sales.month}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.class_field}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.customer.name}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.name}}</td>
                        <td>{{sales.id_sections.id_house.street_number}}</td>
                        <td>{{sales.id_sections.number}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.urban_develop_zone}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.city_area.name}}</td>
                        <td>{{sales.id_sections.id_house.id_buildings.subway.name}}</td>
                        <td class="bg-warning text-dark">{{sales.id_sections.a1_num|add:sales.id_sections.a2_num|add:sales.id_sections.a3_num|add:sales.id_sections.a4_num}}</td>
                        <td class="bg-warning text-dark">{{sales.a1_to_sale|add:sales.a2_to_sale|add:sales.a3_to_sale|add:sales.a4_to_sale}}</td>
                        <td class="bg-warning text-dark">{{sales.area_remain}}</td>
                        <td class="bg-success text-white">{{sales.a1_to_sale}}</td>
                        <td class="bg-success text-white">{{sales.a1_area_to_sale}}</td>
                        <td class="bg-success text-white">{{sales.a1_avg_price}}</td>
                        <td class="bg-primary text-white">{{sales.a2_to_sale}}</td>
                        <td class="bg-primary text-white">{{sales.a2_area_to_sale}}</td>
                        <td class="bg-primary text-white">{{sales.a2_avg_price}}</td>
                        <td class="bg-danger text-white">{{sales.a3_to_sale}}</td>
                        <td class="bg-danger text-white">{{sales.a3_area_to_sale}}</td>
                        <td class="bg-danger text-white">{{sales.a3_avg_price}}</td>
                        <td class="bg-info text-white">{{sales.a4_to_sale}}</td>
                        <td class="bg-info text-white">{{sales.a4_area_to_sale}}</td>
                        <td class="bg-info text-white">{{sales.a4_avg_price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(window).on('load', function () {
        $('#loading').hide();
        zoneSelect();

        $('#urban-zone').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },
            onClick: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                zoneSelect(mas);
            },
            onCheckAll: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                zoneSelect(mas);
            },
            onUncheckAll: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                zoneSelect(mas);
            }
        })
        $('#class-select').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })
        $('#month').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })
        $('#month_end').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })
        $('#customer').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })
        $('#city-area').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },
            onClick: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                var areas = $('#city-area').multipleSelect('getSelects');
                AreaSelect(mas, areas);
            },
            onCheckAll: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                var areas = $('#city-area').multipleSelect('getSelects');
                AreaSelect(mas, areas);
            },
            onUncheckAll: function () {
                var mas = $('#urban-zone').multipleSelect('getSelects');
                var areas = $('#city-area').multipleSelect('getSelects');
                AreaSelect(mas, areas);
            }

        })
        $('#subway').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })
        $('#apart').multipleSelect({
            formatSelectAll() {
                return 'Все'
            },
            formatAllSelected() {
                return 'Все'
            },
            formatCountSelected(count, total) {
                return 'Выбрано ' + total + ' из ' + count
            },
            formatNoMatchesFound() {
                return 'Нет данных'
            },

        })

        var yearStart_save = {{ yearStart_save|safe}}
        var yearEnd_save = {{ yearEnd_save| safe}}
        var monthStart_save = {{ monthStart_save|safe}}
        var monthEnd_save = {{ monthEnd_save|safe}}
        var class_save = {{ class_save|safe}}
        var customer_save = {{ customer_save| safe}}
        var zone_save = {{ zone_save| safe}}
        
        var apart_save = {{ apart_save| safe}}
        console.log(yearStart_save)
        if (yearStart_save != "") {
        $('#year').val(yearStart_save);
        }
        if (yearEnd_save != "") {
            $('#year_end').val(yearEnd_save);
        }
        if (monthStart_save != "") {
            $('#month').multipleSelect('setSelects', [monthStart_save])
        } 
        if (monthEnd_save != "") {
            $('#month_end').multipleSelect('setSelects', [monthEnd_save])
        }
        if (class_save.length != 0) {
            $('#class-select').multipleSelect('setSelects', class_save)
        }
        if (customer_save.length != 0) {
            $('#customer').multipleSelect('setSelects', customer_save)
        }
        if (zone_save.length != 0) {
            $('#urban-zone').multipleSelect('setSelects', zone_save)
            var mas = $('#urban-zone').multipleSelect('getSelects');
            zoneSelect(mas);
        }

       
        if (apart_save.length != 0) {
            $('#apart').multipleSelect('setSelects', apart_save)
        }

    })
</script>
<script>
    $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-files-o"></i> Excel',
                    titleAttr: 'Экспорт в эксель',
                    className: 'btn btn-warning btn-sm mt-2',
                    filename: function () {
                        return $('#year').val() + '-' + $('#months-select').val() + ' - Report';
                    },
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('c[r=A1] t', sheet).text($('#year').val() + "-" + $('#months-select').val());
                        // Loop over the cells in column `K`
                        $('row c[r^="K"]', sheet).attr('s', '35');
                        $('row c[r^="L"]', sheet).attr('s', '35');
                        $('row c[r^="M"]', sheet).attr('s', '35');

                        $('row c[r^="N"]', sheet).attr('s', '40');
                        $('row c[r^="O"]', sheet).attr('s', '40');
                        $('row c[r^="P"]', sheet).attr('s', '40');

                       
                        $('row c[r^="Q"]', sheet).attr('s', '20');
                        $('row c[r^="R"]', sheet).attr('s', '20');
                        $('row c[r^="S"]', sheet).attr('s', '20');

                        $('row c[r^="T"]', sheet).attr('s', '5');
                        $('row c[r^="U"]', sheet).attr('s', '5');
                        $('row c[r^="V"]', sheet).attr('s', '5');
                    }
                }

            ],
            "iDisplayLength": 100,
            "searching": false,
            "bInfo": false,
            "ordering": false,
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                },
                "select": {
                    "rows": {
                        "_": "",
                        "1": ""
                    },
                    "cells": {
                        "1": "",
                        "_": ""
                    },
                    "columns": {
                        "1": "",
                        "_": ""
                    }
                },
                "searchBuilder": {
                    "conditions": {
                        "string": {
                            "startsWith": "Начинается с",
                            "contains": "Содержит",
                            "empty": "Пусто",
                            "endsWith": "Заканчивается на",
                            "equals": "Равно",
                            "not": "Не",
                            "notEmpty": "Не пусто"
                        },
                        "date": {
                            "after": "После",
                            "before": "До",
                            "between": "Между",
                            "empty": "Пусто",
                            "equals": "Равно",
                            "not": "Не",
                            "notBetween": "Не между",
                            "notEmpty": "Не пусто"
                        },
                        "number": {
                            "empty": "Пусто",
                            "equals": "Равно",
                            "gt": "Больше чем",
                            "gte": "Больше, чем равно",
                            "lt": "Меньше чем",
                            "lte": "Меньше, чем равно",
                            "not": "Не",
                            "notEmpty": "Не пусто",
                            "between": "Между",
                            "notBetween": "Не между ними"
                        },
                        "array": {
                            "equals": "Равно",
                            "empty": "Пусто",
                            "contains": "Содержит",
                            "not": "Не равно",
                            "notEmpty": "Не пусто",
                            "without": "Без"
                        }
                    },
                    "data": "Данные",
                    "deleteTitle": "Удалить условие фильтрации",
                    "logicAnd": "И",
                    "logicOr": "Или",
                    "title": {
                        "0": "Конструктор поиска",
                        "_": "Конструктор поиска (%d)"
                    },
                    "value": "Значение",
                    "add": "Добавить условие",
                    "button": {
                        "0": "Конструктор поиска",
                        "_": "Конструктор поиска (%d)"
                    },
                    "clearAll": "Очистить всё",
                    "condition": "Условие",
                    "leftTitle": "Превосходные критерии",
                    "rightTitle": "Критерии отступа"
                },
                "searchPanes": {
                    "clearMessage": "Очистить всё",
                    "collapse": {
                        "0": "Панели поиска",
                        "_": "Панели поиска (%d)"
                    },
                    "count": "{total}",
                    "countFiltered": "{shown} ({total})",
                    "emptyPanes": "Нет панелей поиска",
                    "loadMessage": "Загрузка панелей поиска",
                    "title": "Фильтры активны - %d"
                },
                "thousands": ",",
                "buttons": {
                    "pageLength": {
                        "_": "Показать 10 строк",
                        "-1": "Показать все ряды"
                    },
                    "pdf": "PDF",
                    "print": "Печать",
                    "collection": "Коллекция <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                    "colvis": "Видимость столбцов",
                    "colvisRestore": "Восстановить видимость",
                    "copy": "Копировать",
                    "copyKeys": "Нажмите ctrl or u2318 + C, чтобы скопировать данные таблицы в буфер обмена.  Для отмены, щелкните по сообщению или нажмите escape.",
                    "copySuccess": {
                        "1": "Скопирована 1 ряд в буфер обмена",
                        "_": "Скопировано %ds рядов в буфер обмена"
                    },
                    "copyTitle": "Скопировать в буфер обмена",
                    "csv": "CSV",
                    "excel": "Экспорт в эксель"
                },
                "decimal": ".",
                "infoThousands": ",",
                "autoFill": {
                    "cancel": "Отменить",
                    "fill": "Заполнить все ячейки <i>%d<i><\/i><\/i>",
                    "fillHorizontal": "Заполнить ячейки по горизонтали",
                    "fillVertical": "Заполнить ячейки по вертикали"
                },
                "datetime": {
                    "previous": "Предыдущий",
                    "next": "Следующий",
                    "hours": "Часы",
                    "minutes": "Минуты",
                    "seconds": "Секунды",
                    "unknown": "Неизвестный",
                    "amPm": [
                        "AM",
                        "PM"
                    ],
                    "months": {
                        "0": "Январь",
                        "1": "Февраль",
                        "10": "Ноябрь",
                        "11": "Декабрь",
                        "2": "Март",
                        "3": "Апрель",
                        "4": "Май",
                        "5": "Июнь",
                        "6": "Июль",
                        "7": "Август",
                        "8": "Сентябрь",
                        "9": "Октябрь"
                    },
                    "weekdays": [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ]
                },
                "editor": {
                    "close": "Закрыть",
                    "create": {
                        "button": "Новый",
                        "title": "Создать новую запись",
                        "submit": "Создать"
                    },
                    "edit": {
                        "button": "Изменить",
                        "title": "Изменить запись",
                        "submit": "Изменить"
                    },
                    "remove": {
                        "button": "Удалить",
                        "title": "Удалить",
                        "submit": "Удалить",
                        "confirm": {
                            "_": "Вы точно хотите удалить %d строк?",
                            "1": "Вы точно хотите удалить 1 строку?"
                        }
                    },
                    "multi": {
                        "restore": "Отменить изменения",
                        "title": "Несколько значений"
                    },
                    "error": {
                        "system": "Возникла системная ошибка (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Подробнее<\/a>)"
                    }
                }
            }
        });
        table.buttons().container().appendTo('#insert');
    });
</script>
<script>
    //To zone select
    function zoneSelect(zone) {
        if (zone != "") {
            $('#city-area').disabled = false;
            $('#subway').disabled = false;

            $.ajax({
                type: "GET",
                url: '/ajax/getCityAreas_multi/',
                data: {
                    'zone': zone
                },
                dataType: 'json',
                success: function (data) {
                    $("#city-area option").remove();
                    $('#city-area').multipleSelect('refresh');
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        $('#city-area').append(opt)
                    }
                    $('#city-area').multipleSelect('refresh');
                    var area_save = {{ area_save| safe}}
                    if (area_save.length != 0) {
                        console.log(area_save)
                        $('#city-area').multipleSelect('setSelects', area_save)
                    }
                }
            });
        }
        else {
            $("#subway option").remove();
            $("#city-area option").remove();
            $('#subway').multipleSelect('refresh');
            $('#city-area').multipleSelect('refresh');
        }
    }
    function AreaSelect(zone, areas) {
        if (zone != "") {
            $('#city-area').disabled = false;
            $('#subway').disabled = false;
            $.ajax({
                type: "GET",
                url: '/ajax/getSubways_multi/',
                data: {
                    'zone': zone,
                    'areas': areas
                },
                dataType: 'json',
                success: function (data) {
                    $("#subway option").remove();
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        $('#subway').append(opt)
                    }
                    $('#subway').multipleSelect('refresh');
                    var subway_save = {{ subway_save| safe}}
                    if (subway_save.length != 0) {
                        $('#subway').multipleSelect('setSelects', subway_save)
                    }
                }
            });
        }
        else {
            $("#subway option").remove();
            $('#subway').multipleSelect('refresh');
        }
    }
</script>
{% endblock %}