{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<a class="btn btn-warning btn-sm ml-3 mt-2" href="{% url 'object_menu' %}"><i class="fas fa-chevron-circle-left"></i> Назад</a>
<div class="container col-md-12 d-flex justify-content-center">
    <div class="row col-md-10 d-flex justify-content-center ">
        <div class="col-md-12">           
            <!-- Nav tabs -->
            <div id="tohide">
                <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item mx-5" role="presentation">
                        <a class="nav-link active" id="complex-tab" href="#menu1" role="tab" aria-controls="menu1" aria-selected="true">
                            <button disabled type="button" class="shadow-sm btn btn-warning btn-circle btn-xl" style="color: white; font-size: 0.5rem;"><i class="fas fa-city fa-4x d-flex justify-content-center "></i></button>
                        </a>
                    </li>
                    <li class="nav-item mx-5" role="presentation">
                        <a class="nav-link" id="building-tab" href="#menu2" role="tab" aria-controls="menu2" aria-selected="false">
                            <button disabled type="button" class="shadow-sm btn btn-warning btn-circle btn-xl" style="color: white; font-size: 0.5rem;"><i class="fas fa-building fa-4x d-flex justify-content-center "></i></button>
                        </a>
                    </li>
                    <li class="nav-item mx-5" role="presentation">
                        <a class="nav-link" id="section-tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false">
                            <button disabled type="button" class="shadow-sm btn btn-warning btn-circle btn-xl" style="color: white; font-size: 0.5rem;"><i class="fas fa-door-closed fa-4x d-flex justify-content-center "></i></button>
                        </a>
                    </li>
                </ul>
            </div>             
            <!-- Tab panes -->
            <form action='.' id="form1" method='POST'>
                {% csrf_token %}              
                <div class="tab-content">
                    <div class="tab-pane fade show active mt-3 shadow-lg rounded p-4" id="menu1" role="tabpanel" aria-labelledby="complex-tab">
                        <div>
                            <h5 class="text-center mt-1 mb-4">Информация о комплексе</h5>
                            <div class="form-row mt-2">
                                <div class="col-xl-2">
                                    <label for="class-select">Класс<span style="color:red;">*</span></label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-star"></i></span>
                                        <select class="custom-select required" id="class-select" name="class-select">
                                            <option selected></option>
                                            <option value="Де-люкс">Де-люкс</option>
                                            <option value="Премиум">Премиум</option>
                                            <option value="Бизнес">Бизнес</option>
                                            <option value="Комфорт">Комфорт</option>
                                            <option value="Эконом">Эконом</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <label for="complex-name">Название<span style="color:red;">*</span></label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                        <input type="text" class="form-control required" id="complex-name" name="complex-name" value="">
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <label for="type-streets">Тип</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                        <select class="custom-select" id="type-streets" name="type-streets">
                                            <option selected value=""></option>
                                            {% for post4 in posts4 %}
                                            <option value="{{ post4 }}">{{ post4 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <label for="name-streets">Наименование</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                        <select class="custom-select" id="name-streets" name="name-streets">
                                            <option selected value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col-xl-3">
                                    <label for="customer">Заказчик</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                        <select class="custom-select" id="customer" name="customer">
                                            <option selected value=""></option>
                                            {% for post1 in posts1 %}
                                            <option value="{{ post1.name }}">{{ post1.ownership.name}} {{ post1.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <label for="builder">Генподрядчик</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-hammer"></i></span>
                                        <input type="text" class="form-control" id="builder" name="builder" value="">
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <label for="urban-zone">Зона</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        <select class="custom-select" id="urban-zone" name="urban-zone">
                                            <option selected value=""></option>
                                            <option selected value="Центр">Центр</option>
                                            <option value="Приближенный">Приближенный р-н</option>
                                            <option value="Отдаленный">Отдаленный р-н</option>
                                            <option value="Область">Область</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <label for="city-area">Бытовой район</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                                        <select class="custom-select" id="city-area" name="city-area">
                                            <option selected value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col-xl-4">
                                    <label for="subway">Метрополитен</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-subway"></i></span>
                                        <select class="custom-select" id="subway" name="subway">
                                            <option selected value=""></option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-xl-2">
                                    <label for="parking">Парковка</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-parking"></i></span>
                                        <select class="custom-select" id="parking" name="parking">
                                            <option selected value="Нет">Нет</option>
                                            <option value="Есть">Есть</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <label for="parking-type">Тип</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
                                        <select class="custom-select" id="parking-type" name="parking-type">
                                            <option selected value="Подземная">Подземная</option>
                                            <option value="Надземная">Надземная</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <label>Парковка(мест)</label>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                        <input class="form-control parking-up" type="number" id="num-parking-up" name="num-parking-up" min="0" max="1000">
                                    </div>
                                </div>                               
                            </div>                           
                            <button type="button" class="btn btn-warning btn-next mt-5 btn-complex-name">Продолжить</button>
                        </div>
                    </div>
                    <div class="tab-pane fade mt-3 bg-white shadow-lg rounded p-0" id="menu2" role="tabpanel" aria-labelledby="building-tab">
                        <div class="card-header p-0">
                            <h5 class="text-center" id="colplex-name-header1">Комплекс:</h5>
                        </div>
                        <div id="topaste-house" class="p-4">
                            <h5 class="text-center mt-1 mb-4">Информация о домах</h5>
                            <div id="tocopy-house1" name="tocopy-house1">
                                <h5 class="text-center mt-4 mb-4 counts">№1</h5>
                                <div class="form-row mt-2">
                                    <div class="col-xl-2">
                                        <label>№ дома<span style="color:red;">*</span></label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">№</span>
                                            <input class="form-control house-nums required" type="text" id="num-build1" name="num-build1">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Площадь дома</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                            <input class="num form-control" type="text" id="area-build1" name="area-build1">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Площадь квартир</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                            <input class="num form-control" type="text" id="area-apart1" name="area-apart1">
                                        </div>
                                    </div>
                                    <div class="col-xl-1">
                                        <label>Этажность</label>
                                        <div class="input-group flex-nowrap">
                                            <input class="form-control" type="number" id="num-storeys1" name="num-storeys1" min="0" max="1000">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label class="ml-3">Этап постройки</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-percent"></i></span>
                                            <input class="form-control" step="5" type="number" id="constr-phase-prc1" name="constr-phase-prc1" min="0" max="100">
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <label>Примечание</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>
                                            <input type="text" class="form-control" id="info-house1" name="info-house1" value="">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row mt-2">
                                    <div class="col-xl-2">
                                        <label>Год начала</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            <input class="form-control" type="number" min="2005" max="2099" step="1" id="date-pick-start1" name="date-pick-start1" value="" />
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Год ввода</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            <input class="form-control" type="number" min="2005" max="2099" step="1" id="date-pick-commis1" name="date-pick-commis1" value="" />
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Квартал</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                            <input class="form-control" type="number" min="0" max="4" step="1" id="quarter-pick1" name="quarter-pick1" value="" />
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Парковка(мест)</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                            <input class="form-control parking-down" type="number" id="num-parking-down1" name="num-parking-down1" min="0" max="1000">
                                        </div>
                                    </div>                                   
                                </div>                               
                                <hr class="bg-warning col-6">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success col-auto btn-copy-house ml-4">Добавить новый дом</button>
                            <input type="hidden" id="counts-houses" name="counts-houses" value="1">
                            <button type="button" class="btn btn-danger col-auto btn-delete-house">Удалить дом</button>
                        </div>
                        <button type="button" class="btn btn-warning btn-back mt-3 mb-4 ml-4">Назад</button>
                        <button type="button" class="btn btn-warning btn-next mt-3 mb-4 sectionChange">Продолжить</button>
                    </div>
                    <div class="tab-pane fade mt-3 bg-white shadow-lg rounded p-0" id="menu3" role="tabpanel" aria-labelledby="section-tab">
                        <div class="card-header p-0">
                            <h5 class="text-center" id="colplex-name-header2">Комплекс:</h5>
                        </div>
                        <div id="topaste-section" class="p-4">
                            <h5 class="text-center mt-1 mb-4">Информация о секциях</h5>
                            <div class="mainTab" id="tocopy-section1" name="tocopy-section1">
                                <h5 class="mt-4 mb-4 text-center counts">№1</h5>
                                <div class="form-row mt-2">
                                    <div class="col-xl-2">
                                        <label>№ дома<span style="color:red;">*</span></label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">№</span>
                                            <select class="custom-select house-num-select required" id="num-section-house1" name="num-section-house1">
                                                <option selected value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Продажи<span style="color:red;">*</span></label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                            <select class="custom-select" id="sales1" name="sales1">
                                                <option selected value="В продаже">В продаже</option>
                                                <option value="Продано">Продано</option>
                                                <option value="Перспектива">Перспектива</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Финансирование</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                            <select class="custom-select" id="finance1" name="finance1">
                                                <option selected value=""></option>
                                                {% for post5 in posts5 %}
                                            <option value="{{ post5 }}">{{ post5 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-1">
                                        <label>Дюплекс</label>
                                        <div class="input-group flex-nowrap">
                                            <select class="custom-select" id="duplex1" name="duplex1">
                                                <option selected value=""></option>
                                                <option selected value="Нет">Нет</option>
                                                <option value="Есть">Есть</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-1">
                                        <label>Пентхаусы</label>
                                        <div class="input-group flex-nowrap">
                                            <select class="custom-select" id="penthouse1" name="penthouse1">
                                                <option selected value=""></option>
                                                <option value="Нет">Нет</option>
                                                <option value="Есть">Есть</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Квартир всего</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text">№</span>
                                            <input readonly class="form-control num-apart-ttl" type="number" id="num-apart-ttl1" name="num-apart-ttl1" min="0" max="10000">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <label>Ср. площадь</label>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                            <input readonly class="num form-control avg-area" type="text" id="avg-area1" name="avg-area1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <div class="card col-6 except p-0 shadow-none border-right-0 border rounded-0">
                                        <div class="p-1 pl-2 card-header">
                                            Информация об однокомнатных квартирах:
                                        </div>
                                        <div class="py-1 card-body row">
                                            <div class="col-xl-4">
                                                <label>Количество 1км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text">№</span>
                                                    <input class="form-control totalApart" type="number" id="num-apart-one1" name="num-apart-one1" min="0" max="10000">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Мин. площадь 1км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="min-area-one1" name="min-area-one1">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Макс. площадь 1км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="max-area-one1" name="max-area-one1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-6 except p-0 shadow-none border-top rounded-0">
                                        <div class="p-1 pl-2 card-header">
                                            Информация о двухкомнатных квартирах:
                                        </div>
                                        <div class="py-1 card-body row">
                                            <div class="col-xl-4">
                                                <label>Количество 2км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text">№</span>
                                                    <input class="form-control totalApart" type="number" id="num-apart-two1" name="num-apart-two1" min="0" max="10000">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Мин. площадь 2км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="min-area-two1" name="min-area-two1">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Макс. площадь 2км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="max-area-two1" name="max-area-two1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <div class="card col-6 except p-0 shadow-none border-right-0 rounded-0">
                                        <div class="p-1 pl-2 card-header">
                                            Информация о трехкомнатных квартирах:
                                        </div>
                                        <div class="py-1 card-body row">
                                            <div class="col-xl-4">
                                                <label>Количество 3км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text">№</span>
                                                    <input class="form-control totalApart" type="number" id="num-apart-three1" name="num-apart-three1" min="0" max="10000">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Мин. площадь 3км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="min-area-three1" name="min-area-three1">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Макс. площадь 3км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="max-area-three1" name="max-area-three1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-6 except p-0 shadow-none border-top rounded-0">
                                        <div class="p-1 pl-2 card-header">
                                            Информация о четырехкомнатных квартирах:
                                        </div>
                                        <div class="py-1 card-body row">
                                            <div class="col-xl-4">
                                                <label>Количество 4км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text">№</span>
                                                    <input class="form-control totalApart" type="number" id="num-apart-four1" name="num-apart-four1" min="0" max="10000">
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <label>Мин. площадь 4км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="min-area-four1" name="min-area-four1">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label>Макс. площадь 4км.</label>
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text"><i class="fas fa-vector-square"></i></span>
                                                    <input class="num form-control totalArea" type="text" id="max-area-four1" name="max-area-four1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bg-warning col-6">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success ml-4 col-auto btn-copy-section" name="counts-sections">Добавить новую секцию</button>
                            <input type="hidden" id="counts-sections" name="counts-sections" value="1">
                            <button type="button" class="btn btn-danger col-auto btn-delete-section">Удалить секцию</button>
                        </div>
                        <button type="button" class="btn btn-warning btn-back mt-3 mb-4 ml-4 save-choice">Назад</button>
                        <button type="submit" class="btn btn-success mt-3 mb-4 required-check">Сохранить данные</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    //For change tabs
    var current = 1;
    $('.btn-next').click(clkToNext);
    $('.btn-back').click(clkToBack);
    function clkToNext() {
        if (current <= 3) {
            current = current + 1;
            $('#myTab li:nth-child(' + current + ') a').tab('show') // Select third tab            
        }
    }
    function clkToBack() {
        if (current >= 1) {
            current = current - 1;
            $('#myTab li:nth-child(' + current + ') a').tab('show') // Select third tab          
        }
    }
</script>
<script>
    //On load 
    $(window).on('load', function () {
        $('#loading').hide();
        selectChg();
        zoneSelect();
        parkOnOff();
        masknum();
    })

</script>
<script>
    //To change complex name
    $(".btn-complex-name").click(chngComplexName);
    function chngComplexName() {

        var name = $("#complex-name").val();
        $("#colplex-name-header1").text("Комплекс: " + name);
        $("#colplex-name-header2").text("Комплекс: " + name);
    }
</script>
<script>
    //To zone select
    $('#urban-zone').change(zoneSelect);

    var subway = document.getElementById("subway");
    var cityArea = document.getElementById("city-area");
    function zoneSelect() {
        var zone = document.getElementById("urban-zone").value

        if (zone != "") {
            cityArea.disabled = false;
            $.ajax({
                type: "GET",
                url: '/ajax/getCityAreas/',
                data: {
                    'zone': zone
                },
                dataType: 'json',
                success: function (data) {
                    var length = cityArea.options.length;
                    for (var i = length - 1; i >= 0; i--) {
                        cityArea.options[i] = null;
                    }
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        cityArea.appendChild(opt);
                    }
                    AreaSelect()
                }
            });                   
        }
        else {
            var length = cityArea.options.length;
            for (var i = length - 1; i >= 0; i--) {
                cityArea.options[i] = null;
            }
            var length = subway.options.length;
            for (i = length - 1; i >= 0; i--) {
                subway.options[i] = null;
            }
            cityArea.disabled = true;
            subway.disabled = true;
        }
    }
    $('#city-area').change(AreaSelect);
    function AreaSelect() {
        var zone = document.getElementById("urban-zone").value
        var area = document.getElementById("city-area").value

        if (zone != "" && area != "") {
           
            $.ajax({
                type: "GET",
                url: '/ajax/getSubways/',
                data: {
                    'zone': zone,
                    'area': area
                },
                dataType: 'json',
                success: function (data) {
                    var length = subway.options.length;
                    for (var i = length - 1; i >= 0; i--) {
                        subway.options[i] = null;
                    }
                    if (data.names.length != 0)
                        subway.disabled = false;
                    else
                        subway.disabled = true;
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        subway.appendChild(opt);
                    }
                }
            });
        }
        else {
            var length = subway.options.length;
            for (i = length - 1; i >= 0; i--) {
                subway.options[i] = null;
            }
            subway.disabled = true;
        }
    }
    
    //To select parking type
    $('#parking').change(parkOnOff);
    $('#parking-type').change(EnableChoice);

    function parkOnOff() {
        if ($("#parking").val() == "Нет") {
            $("#parking-type").prop("disabled", true);
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", true);
            $(".parking-down").val("");
            $(".parking-down").prop("disabled", true);
        }
        else {
            $("#parking-type").prop("disabled", false)
            EnableChoice();
        }
    }
    function EnableChoice() {
        //To set inputs for right parking      
        if ($("#parking-type").val() == "Надземная")
        {
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", false);
            $(".parking-down").val("");
            $(".parking-down").prop("disabled", true);
        }
        else
        {
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", true);
            $(".parking-down").val("");
            $(".parking-down").prop("disabled", false);
        }
    }
</script>
<script>
    // To Create house and section clones
    var houseCount = 2;
    var sectionCount = 2;
    var names_house = []
    var names_section = []
    $(".btn-delete-house").click(function () {
        if (houseCount != 2) {
            houseCount = whatToDelete(names_house, houseCount);
            $("#counts-houses").val(houseCount - 1);
        }
    });

    $(".btn-delete-section").click(function () {
        if (sectionCount != 2) {
            sectionCount = whatToDelete(names_section, sectionCount);
            $("#counts-sections").val(sectionCount - 1);
        }
    });
    $(".btn-copy-house").click(function () {
        houseCopy("#tocopy-house1", "#topaste-house", houseCount);
        names_house.push("tocopy-house" + houseCount);
        $("#counts-houses").val(houseCount);
        houseCount = houseCount + 1;

    });
    $(".btn-copy-section").click(function () {
        houseCopy("#tocopy-section1", "#topaste-section", sectionCount);
        names_section.push("tocopy-section" + sectionCount);
        $("#counts-sections").val(sectionCount);
        sectionCount = sectionCount + 1;
    });
    //To delete elements(house, sections)
    function whatToDelete(what, countNum) {
        if (what.length != 0) {
            var len = what.length - 1;
            document.getElementById(what[len]).remove();
            what.splice(-1);
            countNum = countNum - 1;
            return countNum;
        }
    };
    function houseCopy(whatToCopy, whereToPaste, count) {
        var $clone = $(whatToCopy).clone(true);
        // Get the number at the end of the ID, increment it, and replace the old id
        $clone.attr('id', $clone.attr('id').replace(/\d+$/, count));
        $clone.attr('name', $clone.attr('name').replace(/\d+$/, count));
        // Find all elements in $clone that have an ID, and iterate using each()     
        $clone.find('[id]').each(function () {
            //Perform the same replace as above
            var $th = $(this);
            var newID = $th.attr('id').replace(/\d+$/, count);
            $th.attr('id', newID);
        });
        $clone.find('[name]').each(function () {
            //Perform the same replace as above
            var $th = $(this);
            var newName = $th.attr('name').replace(/\d+$/, count);
            $th.attr('name', newName);
        });
        //To delete input values 
        $clone.find("input").each(function () {
            var $th = $(this);
            $th.val("");
        });
        $clone.find(".counts").text("№" + count);
        $clone.appendTo($(whereToPaste));
        masknum();
    }
</script>
<script>
    //mask for double
    function masknum() {
        $('.num').inputmask({
            'alias': 'decimal',
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00'
        })
    };
</script>
<script>
    //To fill streets options
    $("#type-streets").change(function () {
        selectChg();
    });
    function selectChg() {
        var type = document.getElementById("type-streets").value
        $('option').removeAttr('selected');
        $.ajax({
            type: "GET",
            url: '/ajax/getStreets/',
            data: {
                'type': type
            },
            dataType: 'json',
            success: function (data) {
                var select = document.getElementById('name-streets');

                var length = select.options.length;
                for (var i = length - 1; i >= 0; i--) {
                    select.options[i] = null;
                }
                for (var i = 0; i < data.names.length; i++) {
                    var opt = document.createElement('option');
                    opt.value = data.names[i];
                    opt.innerHTML = data.names[i];
                    select.appendChild(opt);
                }
            }
        })
    }
</script>
<script>
    $(".house-nums").keypress(function (e) {
        var verified = String.fromCharCode(e.which).match(/[a-zA-Z-]/);
        if (verified) {
            e.preventDefault();
        }
    });
</script>
<script>
    //To save section choice
    $('.save-choice').click(SaveChoice);
    var saves = [];
    function SaveChoice() {
        temp = document.getElementsByClassName("house-num-select");
        for (var i = 0; i < temp.length; i++) {
            saves.push(temp[i].value);
        }
    }
    //To add house section's options
    $('.sectionChange').click(sectionChange);
    function sectionChange() {
        //text input
        var nums = document.getElementsByClassName('house-nums');
        //select input
        var option = document.getElementsByClassName("house-num-select");
        //To clear selects
        for (var j = 0; j < option.length; j++) {
            var length = option[j].options.length;
            for (var i = length - 1; i >= 0; i--) {
                option[j].options[i] = null
            }
        }
        //To add options
        for (var j = 0; j < option.length; j++) {
            for (var i = 0; i < nums.length; i++) {
                var opt = document.createElement('option');
                if (nums[i].value != "") {
                    opt.value = nums[i].value;
                    opt.innerHTML = nums[i].value;
                    option[j].appendChild(opt);
                }
            }
        }
        //To apply saves
        if (saves.length != 0) {
            for (var i = 0; i < option.length; i++) {
                $(option[i]).val(saves[i]);
            }
            saves = [];
        }
    }
</script>
<script>
    //To count avg prices and areas
    $(".totalApart").change(function () {
        var what = $(this).closest('.mainTab').find('.totalApart');
        var where = $(this).closest('.mainTab').find('.num-apart-ttl')
        ToCount(what, where, "ttl");
    });
    $(".totalArea").change(function () {
        var what = $(this).closest('.mainTab').find('.totalArea');
        var where = $(this).closest('.mainTab').find('.avg-area')
        ToCount(what, where, "avg");
    });
    function ToCount(WhatCount, WhereToPut, how) {
        var count = 0;
        var totalobj = 0;
        if (how == "ttl") {
            for (var i = 0; i < WhatCount.length; i++) {
                if (WhatCount[i].value != "") {
                    count = count + parseFloat(WhatCount[i].value);
                }
            }
        }
        else if (how == "avg") {
            for (var i = 0; i < WhatCount.length; i++) {
                if (WhatCount[i].value != "") {
                    count = count + parseFloat(WhatCount[i].value);
                    totalobj = totalobj + 1;
                }
            }
            if(totalobj !=0)
            count = count / totalobj;
        }
        $(WhereToPut).val(count);
    }
</script>
<script>
    //To check all inputs
    $('#form1').submit(function (evt) {
        var toAlert = false;
        $('.required').each(function () {
            //To check if inputs are unique         
            if ($(this).val() == "") {               
                evt.preventDefault();
                toAlert = true;
            }                    
        });
        if (toAlert == true)
            alert('Заполните все обязательные поля!');
        var inputs = [], flag = false;
        $('.house-nums').each(function () {
            if ($.inArray(this.value, inputs) != -1) flag = true;
            inputs.push(this.value);
        });
        if (flag == true) {
            alert('Номера домов должны быть уникальны!');
            evt.preventDefault();
        }        
    });
    $('.required-check').on('click', function () {
        var Form = document.getElementById('form1');
        if (Form.checkValidity() == false) {
            var list = Form.querySelectorAll(':invalid');
            for (var item of list) {
                alert("Ошибка. " + $(item).closest("div").prev('label').text() + " — Проверьте это значение");
            }
        }
    });

</script>
{% endblock %}