{% extends "app/layout.html" %}

{% block content %}
{% load static %}

    <div class="container-fluid bg-trasparent my-5 p-3" style="position: relative;">
        <div class="row row-cols-1 justify-content-center row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mt-5">
            {% if request.user.is_staff or request.user.is_superuser%}
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-user-plus fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Добавить заказчика</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="{% url 'customers_add' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div> 
            {% endif %}
             <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-user-edit fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Просмотр и редактирование заказчика</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="{% url 'customers_edit' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
  $(window).on('load', function () {
    $('#loading').hide();
  }) 
</script>
{% endblock %}