{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div class="container-fluid bg-trasparent my-5" style="position: relative;">
    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}
    <h5 class="text-center mt-1 mb-2">Редактирование информации. Введите новые значения</h5>
    <hr class="bg-warning col-6 mb-2">
    <div class="d-flex justify-content-center mt-5 col-12">
        <form action='.' id="form1" method='POST'>
            {% csrf_token %}
            <div class="form-row border border-warning col-xl-12 shadow-sm rounded row align-items-center p-2 m-0">
                <div class="col-xl-1 d-flex justify-content-center mt-4 mb-4">
                    <i class="fas fa-user-tie fa-4x"></i>
                </div>
                <div class="col-xl-4">
                    <label for="customer">Форма собственности</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                        <select class="custom-select" id="form" name="form" required>
                            {% for post1 in posts1 %}
                            <option value="{{ post1.form }}"{% if cust.ownership.form == post1.form %}selected{% endif %}>{{ post1.full_form}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <label for="builder">Наименование</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        <input type="text" class="form-control" id="name" name="name" value="{{cust.name}}" required>
                    </div>
                </div>
                <div class="col-xl-2">
                    <label for="urban-zone">Номер телефона</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{cust.phone}}" required>
                    </div>
                </div>
                <div class="col-xl-2">
                    <label>Год</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input class="form-control" required type="number" min="2005" max="2099" step="1" id="date" name="date" value="{{cust.start_work}}" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning mt-5 mb-4">Сохранить информацию</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(window).on('load', function () {
        $('#loading').hide();
    })

    $(document).ready(function () {
        $("#phone").inputmask({ "mask": "(999)999-9999" }); //specifying options
    });
</script>
{% endblock %}