<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaterialApp</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'app/img/icon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/main.js' %}"></script>
</head>
<body>
{% if user.is_authenticated %}
{% csrf_token %}
{% load static %}
<nav class="navbar navbar-dark bg-white">
      <div class="container-fluid">
        <a href="{% url 'menu' %}" class="navbar-brand"><p style="color:orange; font-size:24px; font-weight:bold; margin-top: 1em;margin-right: 1em;" >ЖИЛСТРОЙ-2</p></a>
            <form class="d-flex" method="post">
                 <p style="color:orange; font-size:24px; font-weight:bold; margin-top: 1em;margin-right: 1em;" >{{ user.username }}</p>
                 <a style="color:orange; font-size:24px; font-weight:bold; margin-top: 1em;margin-right: 1em;" href="{% url 'logout' %}">Logout</a>
            {% csrf_token %}
            </form>
      </div>
  </nav>

{% endif %}

{% block content %}

{% endblock %}


{% block scripts %}

     {% endblock %}

</body>
</html>
