{% extends "app/layout.html" %}

{% block content %}
{% load static %}

    <div class="container-fluid bg-trasparent my-5 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mt-5">
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm">
                    <img src="{% static 'app/img/building.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">ОБЪЕКТЫ</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="{% url 'building_add' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm">
                    <img src="{% static 'app/img/update.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">ОБНОВИТЬ ДАННЫЕ</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="#" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm">
                    <img src="{% static 'app/img/analytics.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">АНАЛИТИКА</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="#" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm">
                    <img src="{% static 'app/img/settings.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">ДОПОЛНИТЕЛЬНО</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5"> <a href="#" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}