{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<a class="btn btn-warning btn-sm ml-3 mt-2" href="{% url 'objects_review' %}"><i class="fas fa-chevron-circle-left"></i>Назад</a>
<div class="container col-12 bg-trasparent" style="position: relative;">
    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}   
    <h5 class="text-center mt-1 mb-2">Продажи</h5>
    <hr class="bg-warning col-6 mb-2">
    <div class="d-flex justify-content-center">
        <div class="col-12">
            <form action='.' id="form1" method='POST'>
                {% csrf_token %}
                <div class="shadow-lg rounded p-0 mt-2">
                    <div class="card-header p-0">
                        <h5 class="text-center" id="colplex-name-header1">Обновление продаж для секции: "{{section.number}}" в доме: "
                      {{section.id_house.street_number}}" в комплексе: "{{section.id_house.id_buildings.name}}"</h5>
                    </div>
                    <div class="p-3">
                        <div class="mainTab">
                            <div class="col-xl-3 col-sm-3 p-0">
                                <label>Курс доллара</label>
                                <div class="input-group flex-nowrap p-0 col-xl-8">
                                    <span class="input-group-text">$</span>
                                    <input autocomplete="off" class="num form-control dollar_val" type="text" id="dollar" name="dollar" value="{{sales.dollar}}">
                                    <a class="btn btn-warning" id="checkDollar" href="https://goo-gl.su/jd6bSL" target="_blank">Узнать</a>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col-xl-1">
                                        <label>Год</label>
                                        <div class="input-group flex-nowrap">
                                            <input autocomplete="off" class="form-control" type="number" min="2005" max="2099" step="1" id="year" name="year" value="2020" />
                                        </div>
                                        <label>Месяц</label>
                                        <div class="input-group flex-nowrap">
                                            <select class="custom-select" id="month_select" name="month_select">
                                                <option selected value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <input type="hidden" class="required" id = "month" name="month" value="1">
                                        </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <label>Мин. стоимость парковки (₴ \ $)</label>
                                    <div class="row">
                                        <div class="input-group col-6 pr-1">
                                            <input autocomplete="off" class="num calc_dollar form-control" type="text" id="MinParkingPrice" name="MinParkingPrice" value="{{sales.parking_price_min}}">
                                        </div>
                                        <div class="input-group col-6 pl-1">
                                            <input autocomplete="off" class="num dollar form-control" readonly type="text" id="MinParkingPrice_dol" name="MinParkingPrice_dol" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <label>Макс. стоимость парковки (₴ \ $)</label>
                                    <div class="row">
                                        <div class="input-group col-6 pr-1">
                                            <input autocomplete="off" class="num calc_dollar form-control" type="text" id="MaxParkingPrice" name="MaxParkingPrice" value="{{sales.parking_price_max}}">
                                        </div>
                                        <div class="input-group col-6 pl-1">
                                            <input autocomplete="off" class="num dollar form-control" readonly type="text" id="MaxParkingPrice_dol" name="MaxParkingPrice_dol" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1">
                                    <label>Остаток кв.м.</label>
                                    <div class="input-group flex-nowrap">
                                        <input autocomplete="off" class="num form-control areaRemain" readonly type="text" id="TtlAreaRemain" name="TtlAreaRemain" value="{{sales.area_remain}}">
                                    </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <label>Минимальная цена (₴ \ $)</label>
                                    <div class="row">
                                        <div class="input-group col-6 pr-1">
                                            <input autocomplete="off" class="num avg minPrice calc_dollar form-control" readonly type="text" id="TtlMinPrice" name="TtlMinPrice" value="{{sales.min_price}}">
                                        </div>
                                        <div class="input-group col-6 pl-1">
                                            <input autocomplete="off" class="num dollar form-control" readonly type="text" id="TtlMinPrice_dol" name="TtlMinPrice_dol" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <label>Максимальная цена (₴ \ $)</label>
                                    <div class="row">
                                        <div class="input-group col-6 pr-1">
                                            <input autocomplete="off" class="num avg maxPrice calc_dollar form-control" readonly type="text" id="TtlMaxPrice" name="TtlMaxPrice" value="{{sales.max_price}}">
                                        </div>
                                        <div class="input-group col-6 pl-1">
                                            <input autocomplete="off" class="num dollar form-control" readonly type="text" id="TtlMaxPrice_dol" name="TtlMaxPrice_dol" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 text-center">
                                    <label>Сред. цена (₴ \ $)</label>
                                    <div class="row">
                                        <div class="input-group col-6 pr-1">
                                            <input autocomplete="off" class="num avgPrice calc_dollar form-control" readonly type="text" id="TtlAvgPrice" name="TtlAvgPrice" value="{{sales.avg_price}}">
                                        </div>
                                        <div class="input-group col-6 pl-1">
                                            <input autocomplete="off" class="num dollar form-control" readonly type="text" id="TtlAvgPrice_dol" name="TtlAvgPrice_dol" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="card col-6 except p-0 shadow-none border-right-0 border rounded-0">
                                    <div class="p-1 pl-2 card-header">
                                        Информация об однокомнатных квартирах:
                                    </div>
                                    <div class="py-1 card-body row">
                                        <div class="col-xl-1 p-0 pr-1">
                                            <label>Квартир</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control totalApart" type="number" id="Ttl1Ap" name="Ttl1Ap" min="0" max="10000" value="{{sales.a1_to_sale}}">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Мин. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num min avgAp calc_dollar form-control" type="text" id="Min1ApPrice" name="Min1ApPrice" value="{{sales.a1_min_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Min1ApPrice_dol" name="Min1ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Макс. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp max calc_dollar form-control" type="text" id="Max1ApPrice" name="Max1ApPrice" value="{{sales.a1_max_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Max1ApPrice_dol" name="Max1ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Средняя цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num calc_dollar avgApPrice form-control" readonly type="text" id="Avg1ApPrice" name="Avg1ApPrice" value="{{sales.a1_avg_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Avg1ApPrice_dol" name="Avg1ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 pl-1 pr-0">
                                            <label>Остаток кв.м.</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" readonly class="num form-control area" type="text" id="Area1ApRemain" name="Area1ApRemain">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-6 except p-0 shadow-none border-top rounded-0">
                                    <div class="p-1 pl-2 card-header">
                                        Информация о двухкомнатных квартирах:
                                    </div>
                                    <div class="py-1 card-body row">
                                        <div class="col-xl-1 p-0 pr-1">
                                            <label>Квартир</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control totalApart" type="number" id="Ttl2Ap" name="Ttl2Ap" min="0" max="10000" value="{{sales.a2_to_sale}}">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Мин. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp min calc_dollar form-control" type="text" id="Min2ApPrice" name="Min2ApPrice" value="{{sales.a2_min_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Min2ApPrice_dol" name="Min2ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Макс. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp max calc_dollar form-control" type="text" id="Max2ApPrice" name="Max2ApPrice" value="{{sales.a2_max_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Max2ApPrice_dol" name="Max2ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Средняя цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num calc_dollar avgApPrice form-control" readonly type="text" id="Avg2ApPrice" name="Avg2ApPrice" value="{{sales.a2_avg_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Avg2ApPrice_dol" name="Avg2ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 pl-1 pr-0">
                                            <label>Остаток кв.м.</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" readonly class="num form-control area" type="text" id="Area2ApRemain" name="Area2ApRemain">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="card col-6 except p-0 shadow-none border-right-0 rounded-0">
                                    <div class="p-1 pl-2 card-header">
                                        Информация о трехкомнатных квартирах:
                                    </div>
                                    <div class="py-1 card-body row">
                                        <div class="col-xl-1 p-0 pr-1">
                                            <label>Квартир</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control totalApart" type="number" id="Ttl3Ap" name="Ttl3Ap" min="0" max="10000" value="{{sales.a3_to_sale}}">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Мин. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp min calc_dollar form-control" type="text" id="Min3ApPrice" name="Min3ApPrice" value="{{sales.a3_min_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Min3ApPrice_dol" name="Min3ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Макс. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp max calc_dollar form-control" type="text" id="Max3ApPrice" name="Max3ApPrice" value="{{sales.a3_max_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Max3ApPrice_dol" name="Max3ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Средняя цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgApPrice calc_dollar form-control" readonly type="text" id="Avg3ApPrice" name="Avg3ApPrice" value="{{sales.a3_avg_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Avg3ApPrice_dol" name="Avg3ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 pl-1 pr-0">
                                            <label>Остаток кв.м.</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" readonly class="num form-control area" type="text" id="Area3ApRemain" name="Area3ApRemain">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-6 except p-0 shadow-none border-top rounded-0">
                                    <div class="p-1 pl-2 card-header">
                                        Информация о четырехкомнатных квартирах:
                                    </div>
                                    <div class="py-1 card-body row">
                                        <div class="col-xl-1 p-0 pr-1">
                                            <label>Квартир</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control totalApart" type="number" id="Ttl4Ap" name="Ttl4Ap" min="0" max="10000" value="{{sales.a4_to_sale}}">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Мин. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp min calc_dollar form-control" type="text" id="Min4ApPrice" name="Min4ApPrice" value="{{sales.a4_min_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Min4ApPrice_dol" name="Min4ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Макс. цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num avgAp max calc_dollar form-control" type="text" id="Max4ApPrice" name="Max4ApPrice" value="{{sales.a4_max_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Max4ApPrice_dol" name="Max4ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 text-center">
                                            <label>Средняя цена (₴ \ $)</label>
                                            <div class="row">
                                                <div class="input-group col-6 p-0 pr-1">
                                                    <input autocomplete="off" class="num calc_dollar avgApPrice form-control" readonly type="text" id="Avg4ApPrice" name="Avg4ApPrice" value="{{sales.a4_avg_price}}">
                                                </div>
                                                <div class="input-group col-6 p-0">
                                                    <input autocomplete="off" class="num dollar form-control" readonly type="text" id="Avg4ApPrice_dol" name="Avg4ApPrice_dol" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 pl-1 pr-0">
                                            <label>Остаток кв.м.</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" readonly class="num form-control area" type="text" id="Area4ApRemain" name="Area4ApRemain">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success mt-4 mb-3" name="save" value="Сохранить информацию">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(window).on('load', function () {
        $('#loading').hide();
        masknum();
        var last = '{{sales|safe}}'
        if (last != "None") {
            var year = '{{sales.year|safe}}';
            year = parseInt(year);
            var month = '{{sales.month|safe}}';
            month = parseInt(month);
            $('#month_select option[value="' + month + '"]').prop("selected", true);
            $("#month").val($('#month_select').val());
            $("#month_select").prop("disabled", true);
            $('#year').val(year);
            $('#year').prop("readonly", true);

            $('.calc_dollar').trigger("change")
            $('#Ttl1Ap').trigger("change");
            $('#Ttl2Ap').trigger("change");
            $('#Ttl3Ap').trigger("change");
            $('#Ttl4Ap').trigger("change");
            $(".area").trigger("change");
        }   
    })
    $('#month_select').change(function () {
        $('#month').val($('#month_select').val())
    });

    var a1_area_min = parseFloat(`{{ section.a1_area_min|safe }}`);
    var a1_area_max = parseFloat(`{{ section.a1_area_max|safe }}`);
    var a1avg = (a1_area_min + a1_area_max) / 2

    var a2_area_min = parseFloat(`{{ section.a2_area_min|safe }}`);
    var a2_area_max = parseFloat(`{{ section.a2_area_max|safe }}`);
    var a2avg = (a2_area_min + a2_area_max) / 2

    var a3_area_min = parseFloat(`{{ section.a3_area_min|safe }}`);
    var a3_area_max = parseFloat(`{{ section.a3_area_max|safe }}`);
    var a3avg = (a3_area_min + a3_area_max) / 2

    var a4_area_min = parseFloat(`{{ section.a4_area_min|safe }}`);
    var a4_area_max = parseFloat(`{{ section.a4_area_max|safe }}`);
    var a4avg = (a4_area_min + a4_area_max) / 2
    $('#Ttl1Ap').change(function () {
        var temp1 = $('#Ttl1Ap').val()
        temp1 = parseInt(temp1)
        $(this).closest('.card-body').find(".area").val(a1avg * temp1);
        $(this).closest('.card-body').find(".area").trigger("change")
    });

    $('#Ttl2Ap').change(function () {
        var temp2 = $('#Ttl2Ap').val()
        temp2 = parseInt(temp2)
        $(this).closest('.card-body').find(".area").val(a2avg * temp2);
        $(this).closest('.card-body').find(".area").trigger("change")
    });

    $('#Ttl3Ap').change(function () {
        var temp3 = $('#Ttl3Ap').val()
        temp3 = parseInt(temp3)
        $(this).closest('.card-body').find(".area").val(a3avg * temp3);
        $(this).closest('.card-body').find(".area").trigger("change")
    });

    $('#Ttl4Ap').change(function () {
        var temp4 = $('#Ttl4Ap').val()
        temp4 = parseInt(temp4)
        $(this).closest('.card-body').find(".area").val(a4avg * temp4);
        $(this).closest('.card-body').find(".area").trigger("change")
    });
    
    //mask for double
    function masknum() {
        $('.num').inputmask({
            'alias': 'decimal',
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00'
        })
    };
    //To culc dollar
    $('.calc_dollar').change(calcDol);
    $('.dollar_val').change(function () {
        $('.calc_dollar').trigger("change")
    });
    function calcDol() {
        var dol = parseFloat($(this).val()) / parseFloat($(".dollar_val").val());
        $(this).closest('.row').find('.dollar').val(dol);
    }
    //to culc form's data
    $('.area').change(function () {
        var total = 0;
        $('.area').each(function () {
            if ($(this).val() != "") {
                total = total + parseFloat($(this).val());
            }
        });
        $(".areaRemain").val(total);
    });

    $('.min').change(function () {
        var arrey = [];
        $('.min').each(function () {
            if ($(this).val() != "") {
                arrey.push(parseFloat($(this).val()));
            }
        });
        console.log(arrey.length);
        if (arrey.length !=0) {
            $(".minPrice").val(Math.min.apply(Math, arrey));
            $('.avgPrice').trigger("change");
        }
    });
    $('.max').change(function () {
        var arrey = [];
        $('.max').each(function () {
            if ($(this).val() != "") {
                arrey.push(parseFloat($(this).val()));
            }
        });
        console.log(arrey.length);
        if (arrey.length != 0) {
            $(".maxPrice").val(Math.max.apply(Math, arrey));
            $('.avg').trigger("change");
        }
    });
    $('.avg').change(function () {
        flag = true;
        var arrey = [];
        $('.avg').each(function () {
            if ($(this).val() != "" && $(this).val() != "0" && $(this).val() != "0.00") {
                arrey.push(parseFloat($(this).val()));
            }
            else { flag = false; }
        });
        if (flag == true) {
            $(".avgPrice").val((arrey[0] + arrey[1]) / 2);
            $('.avgPrice').trigger("change");
        }
        else { $('.avgPrice').val(""); $('.avgPrice').trigger("change")}
    });
    $('.avgAp').change(function () {
        var arrey = [];
        flag = true;
        $(this).closest('.card-body').find(".avgAp").each(function () {
            if ($(this).val() != "" && $(this).val() != "0" && $(this).val() != "0.00") {
                arrey.push(parseFloat($(this).val()));
            }
            else { flag = false; }
        });
        if (flag == true) {
            $(this).closest('.card-body').find(".avgApPrice").val((arrey[0] + arrey[1]) / 2);
            $(this).closest('.card-body').find(".avgApPrice").trigger("change")
        }
        else { $(this).closest('.card-body').find(".avgApPrice").val(""); $(this).closest('.card-body').find(".avgApPrice").trigger("change") }
    });
</script>
{% endblock %}