{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<a class="btn btn-warning btn-sm ml-3 mt-2" href="{% url 'objects_review' %}"><i class="fas fa-chevron-circle-left"></i> Назад</a>
<div class="container-fluid col-12 bg-trasparent" style="position: relative;">
    {% for message in messages %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}
    <h5 class="text-center mt-1 mb-2">Редактирование информации о комплексе. Введите новые значения</h5>
    <hr class="bg-warning col-6 mb-2">
    <div class="d-flex justify-content-center">
        <div class="col-10">
            <form action='.' id="form1" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="shadow-lg rounded p-4" id="menu1">
                    <div>
                        <h5 class="text-center mt-1 mb-4">Информация о комплексе</h5>
                        <div class="form-row mt-2">
                            <div class="col-xl-2">
                                <label for="class-select">Класс<span style="color:red;">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-star"></i></span>
                                    <select class="custom-select required" required id="class-select" name="class-select">
                                        <option selected></option>
                                        <option value="Де-люкс">Де-люкс</option>
                                        <option value="Премиум">Премиум</option>
                                        <option value="Бизнес">Бизнес</option>
                                        <option value="Комфорт">Комфорт</option>
                                        <option value="Эконом">Эконом</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-1">
                                <label for="complex-name">Тип<span style="color:red;">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" type="text" class="form-control" required id="complex-type" name="complex-type" value="{{build.type_complex}}">
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label for="complex-name">Название<span style="color:red;">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    <input autocomplete="off" type="text" class="form-control" required id="complex-name" name="complex-name" value="{{build.name}}">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label for="type-streets">Тип улиц</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                    <select class="custom-select" id="type-streets" name="type-streets">
                                        <option selected value=""></option>
                                        {% for post2 in posts2 %}
                                        <option value="{{ post2 }}">{{ post2 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <label for="name-streets">Наименование</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                                    <select class="custom-select" id="name-streets" name="name-streets">
                                        <option selected value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-xl-3">
                                <label for="customer">Заказчик</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                    <select class="custom-select" id="customer" name="customer">
                                        <option selected value=""></option>
                                        {% for post1 in posts1 %}
                                        <option value="{{ post1.name }}">{{ post1.ownership.name}} {{ post1.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <label for="builder">Генподрядчик</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-hammer"></i></span>
                                    <input autocomplete="off" type="text" class="form-control" id="builder" name="builder" value="{{build.builder}}">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label for="urban-zone">Зона</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    <select class="custom-select" id="urban-zone" name="urban-zone">
                                        <option selected value=""></option>
                                        <option selected value="Центр">Центр</option>
                                        <option value="Приближенный">Приближенный р-н</option>
                                        <option value="Отдаленный">Отдаленный р-н</option>
                                        <option value="Область">Область</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label for="city-area">Бытовой район</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                                    <select class="custom-select" id="city-area" name="city-area">
                                        <option selected value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-xl-3">
                                <label for="subway">Метрополитен</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-subway"></i></span>
                                    <select class="custom-select" id="subway" name="subway">
                                        <option selected value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label for="parking">Парковка</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-parking"></i></span>
                                    <select class="custom-select" id="parking" name="parking">
                                        <option selected value="Нет">Нет</option>
                                        <option value="Есть">Есть</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label for="parking-type">Тип</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
                                    <select class="custom-select" id="parking-type" name="parking-type">
                                        <option selected value="Подземная">Подземная</option>
                                        <option value="Надземная">Надземная</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>Парковка(мест)</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                    <input autocomplete="off" class="form-control parking-up" type="number" id="num-parking-up" name="num-parking-up" min="0" max="1000">
                                </div>
                            </div> 
                            <div class="col-xl-2">
                                <label>Гостевая парковка(мест)</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                    <input autocomplete="off" class="form-control parking-up" type="number" id="num-guest-parking-up" name="num-guest-parking-up" min="0" max="1000">
                                </div>
                            </div>   
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-xl-2">
                                <label>Ссылка</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fab fa-internet-explorer"></i></span>
                                    <input autocomplete="off" type="text" class="form-control" id="url" name="url" value="">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>GPS</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-globe"></i></span>
                                    <input autocomplete="off" class="form-control" type="text" id="gps" name="gps">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>Центр продаж</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text"><i class="fas fa-window-restore"></i></span>
                                    <input autocomplete="off" class="form-control" type="text" id="sell_center" name="sell_center">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>Общ. площадь</label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" class="num form-control" type="text" id="total_area_complex" name="total_area_complex">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>Площ. пристроек</label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" class="num form-control" type="text" id="built_in" name="built_in">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <label>Коммер. помещ.</label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" class="num form-control" type="text" id="commerc" name="commerc">
                                </div>
                            </div>
                            </div>
                            <div class="form-row mt-2">
                            <div class="col-xl-1">
                                <label>Рейтинг</label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" class="form-control" type="text" id="rating" name="rating">
                                </div>
                            </div>
                            <div class="col-xl-1">
                                <label>Оценка</label>
                                <div class="input-group flex-nowrap">
                                    <input autocomplete="off" class="form-control" type="text" id="grade" name="grade">
                                </div>
                            </div>
                         </div>
                         <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal1">
                            Финансирование
                        </button>
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">Финансирование</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Первый вклад</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="contribution" value="{{fin.contribution}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Рассрочка</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="installment" value="{{fin.installment}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Ипотека</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="mortgage" value="{{fin.mortgage}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Скидка при оплате 100%</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="discount_100" value="{{fin.discount_100}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Скидки</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="discount" value="{{fin.discount}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Банк</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="bank" value="{{fin.bank}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal2">
                            Земля
                        </button>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Земля</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Титул</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="title" value="{{land.title}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Площадь земельного участка</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="land_area" value="{{land.land_area}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Кадастровий номер</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="cadastral" value="{{land.cadastral}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Целевое назначение</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="purpose" value="{{land.purpose}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Процент застройки участка</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="percentage" value="{{land.percentage}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal3">
                            Технические параметры
                        </button>
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Технические параметры</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Технология каркаса</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="frame" value="{{tech.frame}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Межетажное перекрытие</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="overlap" value="{{tech.overlap}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Межквартирные перегородки</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="partitions" value="{{tech.partitions}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Фасад</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="facade" value="{{tech.facade}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Профиль и стеклопакет</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="profile" value="{{tech.profile}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Тип отопления</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="heating" value="{{tech.heating}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Тип крыши</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="roof" value="{{tech.roof}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Наличие террас</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="terraces" value="{{tech.terraces}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Высота потолков</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="ceilings" value="{{tech.ceilings}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Конструкционный материал</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="material" value="{{tech.material}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Наружные стены</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="walls" value="{{tech.walls}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Утепление</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="warming" value="{{tech.warming}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Вікна</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="windows" value="{{tech.windows}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Производитель окон</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="manuf_windows" value="{{tech.manuf_windows}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Марка котла</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="boiler" value="{{tech.boiler}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Кровля</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="roofing" value="{{tech.roofing}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Наличие балконов</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="balconies" value="{{tech.balconies}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Комплектность квартиры</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="apartments" value="{{tech.apartments}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal4">
                            Назначение и инфраструктура
                        </button>
                        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel4">Назначение и инфраструктура</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Типы социальных объектов комплекса</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="social_facilities" value="{{purpose.social_facilities}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Детская площадка</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="playground" value="{{purpose.playground}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Комфорт</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="comfort" value="{{purpose.comfort}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Безопасность</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="security" value="{{purpose.security}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Внутренняя инфраструктура</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="infrastructure" value="{{purpose.infrastructure}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Зона отдыха</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="rest" value="{{purpose.rest}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Холл / гостевые зоны</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="halls" value="{{purpose.halls}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>ИТ решения/Умный дом/Умный ЖК</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="solutions" value="{{purpose.solutions}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Вело паркинги</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="bicycle_parking" value="{{purpose.bicycle_parking}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Места для выгула животных</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="animals" value="{{purpose.animals}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Доступ на территорию комплекса</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="access" value="{{purpose.access}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Места для хранения</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="storage" value="{{purpose.storage}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Консьерж сервис</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="concierge" value="{{purpose.concierge}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal5">
                            Наружная инфраструктура
                        </button>
                        <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel5">Наружная инфраструктура</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Развлечения</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="entertainment" value="{{outdoor.entertainment}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Транспорт</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="transport" value="{{outdoor.transport}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Школа</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="school" value="{{outdoor.school}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Садик</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="kindergarten" value="{{outdoor.kindergarten}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Магазины</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="shops" value="{{outdoor.shops}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-sm mt-5" data-toggle="modal" data-target="#exampleModal6">
                            Дополнительно
                        </button>
                        <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Дополнительно</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        <div class="col-12">
                                            <label>Юридическая схема продажи</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="schemes" value="{{additionally.schemes}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Сильные стороны проекта</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="strengths" value="{{additionally.strengths}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Слабые стороны проекта</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="weaknesses" value="{{additionally.weaknesses}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Дополнительное описание</label>
                                            <div class="input-group flex-nowrap">
                                                <input autocomplete="off" class="form-control" type="text" name="additional" value="{{additionally.additional}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 p-0 mt-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Рендер</span>
                                </div>
                                <div class="custom-file">
                                <input type="file" class="custom-file-input" accept="image/*" name="render" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                                </div>
                                {% if build.Render.url %}
                                <span class="p-2">Текущий рендер: <a target="_blank" href="{{build.Render.url}}">ссылка <i class="fab fa-internet-explorer"></i></a></span>
                                {% endif %}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon02">Карта</span>
                                </div>
                                <div class="custom-file">
                                <input type="file" class="custom-file-input" accept="image/*" name="map" aria-describedby="inputGroupFileAddon02">
                                <label class="custom-file-label" for="inputGroupFile02">Выберите файл</label>
                                </div>
                                {% if build.map.url %}
                                <span class="p-2">Текущая карта: <a target="_blank" href="{{build.map.url}}">ссылка <i class="fab fa-internet-explorer"></i></a></span>
                                {% endif %}
                            </div>                            
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success mt-4" name="save" value="Сохранить информацию">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'app/scripts/bs-custom-file-input.min.js' %}"></script>
<script>bsCustomFileInput.init()</script>
<script>
    $(window).on('load', function () {
        $('#loading').hide();
        parkOnOff();
        savedData();
        zoneSelect();
        masknum();

    })

    function savedData() {
        var class_type = `{{ build.class_field|safe }}`;
        $('#class-select option[value="' + class_type + '"]').prop("selected", true);
        var type_streets = `{{ build.street_name.type|safe }}`;
        $('#type-streets option[value="' + type_streets + '"]').prop("selected", true);
        selectChg();
        var customer = `{{ build.customer.name|safe }}`;
        $('#customer option[value="' + customer + '"]').prop("selected", true);
        var urban_zone = `{{ build.urban_develop_zone|safe }}`;
        $('#urban-zone option[value="' + urban_zone + '"]').prop("selected", true);
        zoneSelect();
        var parking = `{{ build.parking|safe }}`;
        $('#parking option[value="' + parking + '"]').prop("selected", true);
        parkOnOff();
        var parking_type = `{{ build.parking_type|safe }}`;
        $('#parking-type option[value="' + parking_type + '"]').prop("selected", true);
        EnableChoice();
        var num_parking_up = `{{ build.parking_num|safe }}`;
        $('#num-parking-up').val(num_parking_up);
        var gnum_parking_up = `{{ build.guest_parking_num|safe }}`;
        $('#num-guest-parking-up').val(gnum_parking_up);

        var link = `{{ build.url|safe }}`;
        $('#url').val(link);

        var gps = `{{ build.gps|safe }}`;
        $('#gps').val(gps);
        var sell_center = `{{ build.sell_center|safe }}`;
        $('#sell_center').val(sell_center);
        var total_area_complex = `{{ build.total_area_complex|safe }}`;
        $('#total_area_complex').val(total_area_complex);
        var build_in = `{{ build.build_in|safe }}`;
        $('#built_in').val(build_in);
        var commerc = `{{ build.commerc|safe }}`;
        $('#commerc').val(commerc);
        var rating = `{{ build.rating|safe }}`;
        $('#rating').val(rating);
        var grade = `{{ build.grade|safe }}`;
        $('#grade').val(grade);
    }
</script>
<script>
    //To select parking type
    $('#parking').change(parkOnOff);
    $('#parking-type').change(EnableChoice);

    function parkOnOff() {
        if ($("#parking").val() == "Нет") {
            $("#parking-type").prop("disabled", true);
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", true);
        }
        else {
            $("#parking-type").prop("disabled", false)
            EnableChoice();
        }
    }
    function EnableChoice() {
        //To set inputs for right parking

        if ($("#parking-type").val() == "Надземная") {
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", false);

        }
        else {
            $(".parking-up").val("");
            $(".parking-up").prop("disabled", true);
        }
    }
</script>
<script>
    //To zone select
    $('#urban-zone').change(zoneSelect);
    var subway = document.getElementById("subway");
    var cityArea = document.getElementById("city-area");

    function zoneSelect() {
        var zone = document.getElementById("urban-zone").value

        if (zone != "") {
            cityArea.disabled = false;
            $.ajax({
                type: "GET",
                url: '/ajax/getCityAreas/',
                data: {
                    'zone': zone
                },
                dataType: 'json',
                success: function (data) {
                    var length = cityArea.options.length;
                    for (var i = length - 1; i >= 0; i--) {
                        cityArea.options[i] = null;
                    }
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        cityArea.appendChild(opt);
                    }
                    var city_area = `{{ build.city_area.name|safe }}`;
                    $('#city-area option[value="' + city_area + '"]').prop("selected", true);
                    AreaSelect()
                }
            });
        }
        else {
            var length = cityArea.options.length;
            for (var i = length - 1; i >= 0; i--) {
                cityArea.options[i] = null;
            }
            var length = subway.options.length;
            for (i = length - 1; i >= 0; i--) {
                subway.options[i] = null;
            }
            cityArea.disabled = true;
            subway.disabled = true;
        }
    }

    $('#city-area').change(AreaSelect);
    function AreaSelect() {
        var zone = document.getElementById("urban-zone").value
        var area = document.getElementById("city-area").value

        if (zone != "" && area != "") {

            $.ajax({
                type: "GET",
                url: '/ajax/getSubways/',
                data: {
                    'zone': zone,
                    'area': area
                },
                dataType: 'json',
                success: function (data) {
                    var length = subway.options.length;
                    for (var i = length - 1; i >= 0; i--) {
                        subway.options[i] = null;
                    }
                    if (data.names.length != 0)
                        subway.disabled = false;
                    else
                        subway.disabled = true;
                    for (var i = 0; i < data.names.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.names[i];
                        opt.innerHTML = data.names[i];
                        subway.appendChild(opt);
                    }
                    console.log("here");
                    var subway_ajax = `{{ build.subway.name|safe }}`;
                    $('#subway option[value="' + subway_ajax + '"]').prop("selected", true);
                }
            });
        }
        else {
            var length = subway.options.length;
            for (i = length - 1; i >= 0; i--) {
                subway.options[i] = null;
            }
            subway.disabled = true;
        }
    }

    //To fill streets options
    $("#type-streets").change(function () {
        selectChg();
    });
    function selectChg() {
        var type = document.getElementById("type-streets").value
        $('option').removeAttr('selected');
        $.ajax({
            type: "GET",
            url: '/ajax/getStreets/',
            data: {
                'type': type
            },
            dataType: 'json',
            success: function (data) {
                var select = document.getElementById('name-streets');

                var length = select.options.length;
                for (var i = length - 1; i >= 0; i--) {
                    select.options[i] = null;
                }
                for (var i = 0; i < data.names.length; i++) {
                    var opt = document.createElement('option');
                    opt.value = data.names[i];
                    opt.innerHTML = data.names[i];
                    select.appendChild(opt);
                }
                var name_streets = `{{ build.street_name.name|safe }}`;
                $('#name-streets option[value="' + name_streets + '"]').prop("selected", true);
            }
        })
    }

</script>
<script>
    //mask for double
    function masknum() {
        $('.num').inputmask({
            'alias': 'decimal',
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00'
        })
    };
</script>
{% endblock %}