{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div class="container-fluid col-12 bg-trasparent p-3" style="position: relative;">
    {% for message in messages %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    {% if complex %}
    <a class="btn btn-warning" href="{% url 'objects_edit' %}"><i class="fas fa-chevron-circle-left"></i> Назад</a>
    <h5 class="text-center mb-2">Комплекс: {{complex.name}}</h5>
    <hr class="bg-warning col-6 mb-2">
    <div class="row row-cols-xl-2">
        <div class="col-xl-2 p-0" id="tofixed">
            <h5 class="text-left ml-3">О комплексе:</h5>
            <ul class="list-group">
                <li class="p-2 list-group-item">Название: {{complex.name}}</li>
                <li class="p-2 list-group-item">Класс: {{complex.class_field}}</li>
                <li class="p-2 list-group-item">Улица: {{complex.street_name.name}}</li>
                <li class="p-2 list-group-item">Застройщик: {{complex.customer.name}}</li>
                <li class="p-2 list-group-item">Генподрядчик: {{complex.builder}}</li>
                <li class="p-2 list-group-item">Градостроительная зона: {{complex.urban_develop_zone}}</li>
                <li class="p-2 list-group-item">Район: {{complex.city_area.name}}</li>
                <li class="p-2 list-group-item">Метрополитен: {{complex.subway.name}}</li>
                <li class="p-2 list-group-item">Наличие парковки: {{complex.parking}}</li>
                {% if complex.parking == "Есть" %}
                <li class="p-2 list-group-item">Тип парковки: {{complex.parking_type}}</li>
                {% if complex.parking_type == "Надземная" %}
                <li class="p-2 list-group-item">Парковка (мест): {{complex.parking_num}}</li>               
                {% endif %}     
            {% endif %}
            <form action='.' id="form_complex" method='POST'>
                {% csrf_token %}
                <li class="border-bottom-0 list-group-item p-2">
                    {% if request.user.is_staff or request.user.is_superuser%}
                    <input type="submit" class="btn btn-warning btn-sm col-xl-12" name="edit_complex" value="Редактировать комплекс">
                    {% endif %}
                    {% if request.user.is_superuser%}
                    <input type="submit" class="btn btn-danger btn-sm check_complex mt-2 col-xl-12" name="delete_complex" value="Удалить комплекс">
                    {% endif %}
                </li>
            </form>
            </ul>
        </div>
        <div class="p-0 col-xl-10 offset-xl-2">
            <h5 class="ml-1">Дома:</h5>
            <form action='.' id="form_house" method='POST'>
                {% csrf_token %}
                <input class="required" type="hidden" id="selected_house" name="selected_house" value="">
                {% if request.user.is_staff or request.user.is_superuser%}
                <input type="submit" class="ml-1 btn btn-warning btn-sm" name="add_house" value="Добавить дом">
                <input type="submit" class="ml-1 btnTable_first btn btn-warning btn-sm" name="edit_house" value="Редактировать дом">
                {% endif %}
                {% if request.user.is_superuser%}
                <input type="submit" class="ml-1 btnTable_first btn btn-danger check_house btn-sm" name="delete_house" value="Удалить дом">
                {% endif %}
            </form>
            <div class="pl-1 pr-2 m-0 table-responsive col-xl-12">
                <table id="DataTable" class='table table-Light table-bordered display compact' style="width:100%;">
                    <thead>
                        <tr class="bg-warning text-white">
                            <th style="display: none;">ИД</th>
                            <th>№ дома</th>
                            <th>Площадь дома</th>
                            <th>Площадь квартир</th>
                            <th>Этап постройки</th>
                            <th>Год начала</th>
                            <th>Год ввода</th>
                            <th>Квартал</th>
                            <th>Этажность</th>
                            {% if complex.parking_type == "Подземная" and complex.parking == "Есть" %}
                            <th>Парковка (мест)</th>                          
                            {% endif %}
                            <th>Заметка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in houses %}
                        <tr>
                            <td class="id" style="display: none;">{{ row.id_house }}</td>
                            <td>{{ row.street_number }}</td>
                            <td>{{ row.ttl_area_building }}</td>
                            <td>{{ row.ttl_area_apartments }}</td>
                            <td>{{ row.construction_phase_prst}}</td>
                            <td>{{ row.start_year }}</td>
                            <td>{{ row.commis_year }}</td>
                            <td>{{ row.quarter }}</td>
                            <td>{{ row.storeys }}</td>
                            {% if complex.parking_type == "Подземная" %}
                            <td>{{ row.parking_num }}</td>                           
                            {% endif %}
                            <td class="p-1"><a class="col-12 border border-warning btn btn-light" role="button" data-toggle="popover" data-trigger="hover" title="Примечание" data-content="{{row.remark}}"><i class="fas fa-search"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5 class="ml-1">Секции:</h5>
            <form action='.' id="form_section" method='POST'>
                {% csrf_token %}
                <input type="hidden" class="required" id = "selected_section" name="selected_section" value="">
                {% if request.user.is_staff or request.user.is_superuser%}
                <input type="submit" class="ml-1 btn btn-warning btn-sm" name="add_section" value="Добавить секцию">
                <input type="submit" disabled class="ml-1 btnTable_second btn btn-warning btn-sm" name="edit_section" value="Редактировать секцию">              
                {% endif %}
                {% if request.user.is_superuser%}
                <input type="submit" disabled class="ml-1 btnTable_second btn btn-danger check_section btn-sm" name="delete_section" value="Удалить секцию">
                {% endif %}
                {% if request.user.is_staff or request.user.is_superuser%}
                <input type="submit" disabled class="ml-5 btnTable_second btn btn-success btn-sm" name="sold_section" value="Продано">
                <input type="submit" disabled class="ml-1 btnTable_second btn btn-info btn-sm" name="sale_section" value="В продаже">
                {% endif %}
            </form>
            <div class="p-1 m-0 table-responsive col-xl-12">
                <table id="DataTable_second" class='table table-bordered table-Light display compact' style="width:100%;">
                    <thead>
                        <tr class="bg-warning text-white">
                            <th style="display: none;">ИД</th>
                            <th>№ секции</th>
                            <th>Продажи</th>
                            <th>Финансирование</th>
                            <th>Дюплекс</th>
                            <th>Пентхаусы</th>
                            <th>Квартир всего</th>
                            <th>Ср. площадь</th>
                            <th>1км. кв.</th>
                            <th>2км. кв.</th>
                            <th>3км. кв.</th>
                            <th>4км. кв.</th>
                        </tr>
                    </thead>
                    <tbody id="appendHere">
                        <tr class="toRemove">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="ml-1">Продажи:</h5>
            <form action='.' id="form_section" method='POST'>
                {% csrf_token %}
                <input type="hidden" class="required" id = "selected_sales" name="selected_sales" value="">
                <input type="hidden" class="required" id = "selected_section_sale" name="selected_section" value="">
                {% if request.user.is_staff or request.user.is_superuser%}
                <input type="submit" disabled class="ml-1 btn btn-warning btn-sm btnTable_third_add" name="update_sale" value="Обновить продажи">
                <input type="submit" disabled class="ml-1 btnTable_third btn btn-warning btn-sm" name="edit_sale" value="Редактировать месяц">              
                {% endif %}
                {% if request.user.is_superuser%}
                <input type="submit" disabled class="ml-1 btnTable_third btn btn-danger btn-sm" name="delete_sale" value="Удалить последний месяц">
                {% endif %}              
            </form>
            <div class="p-1 m-0 table-responsive col-xl-12">
                <table id="DataTable_third" class='table table-Light display compact table-bordered' style="width:100%;">
                    <thead>
                        <tr class="bg-warning text-white">
                            <th style="display: none;">ИД</th>
                            <th>Год</th>
                            <th>Месяц</th>
                            <th>1км. кв.</th>
                            <th>2км. кв.</th>
                            <th>3км. кв.</th>
                            <th>4км. кв.</th>
                            <th>Площади осталось</th>
                            <th>Паркинг</th>
                            <th>Цены</th>
                        </tr>
                    </thead>
                    <tbody id="appendHereSale">
                        <tr class="toRemove">
                            <td></td>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
            <p>No data available</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    //check if delete complex
    $(".check_complex").click(function () {
        if (confirm('Удалить целый комплекс? Это удалит все дочерние объекты (дома, секции)!')) {
            form_complex.submit();
        }
        else {
            return false;
        }
    });
    //check if delete house
    $(".check_house").click(function () {
        if (confirm('Удалить дом? Это удалит все дочерние секции!')) {
            form_house.submit();
        }
        else {
            return false;
        }
    });
    //check if delete section
    $(".check_section").click(function () {
        if (confirm('Удалить секцию?')) {
            form_section.submit();
        }
        else {
            return false;
        }
    });
</script>
<script>
    //For remarks
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    //On load
    $(window).on('load', function () {
        $('#loading').hide();
    })

</script>
<script>
    //to enable buttons flag
    var enableSelect = true;
    //table setup
    $(document).ready(function () {
        var table_first = $('#DataTable').DataTable({
            searching: false,
            paging: false,
            select: true,
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                },
                "select": {
                    "rows": {
                        "_": "Выбрано записей: %d",
                        "1": "Выбрана одна запись"
                    },
                    "cells": {
                        "1": "1 ячейка выбрана",
                        "_": "Выбрано %d ячеек"
                    },
                    "columns": {
                        "1": "1 столбец выбран",
                        "_": "%d столбцов выбрано"
                    }
                },
                "searchBuilder": {
                    "conditions": {
                        "string": {
                            "startsWith": "Начинается с",
                            "contains": "Содержит",
                            "empty": "Пусто",
                            "endsWith": "Заканчивается на",
                            "equals": "Равно",
                            "not": "Не",
                            "notEmpty": "Не пусто"
                        },
                        "date": {
                            "after": "После",
                            "before": "До",
                            "between": "Между",
                            "empty": "Пусто",
                            "equals": "Равно",
                            "not": "Не",
                            "notBetween": "Не между",
                            "notEmpty": "Не пусто"
                        },
                        "number": {
                            "empty": "Пусто",
                            "equals": "Равно",
                            "gt": "Больше чем",
                            "gte": "Больше, чем равно",
                            "lt": "Меньше чем",
                            "lte": "Меньше, чем равно",
                            "not": "Не",
                            "notEmpty": "Не пусто",
                            "between": "Между",
                            "notBetween": "Не между ними"
                        },
                        "array": {
                            "equals": "Равно",
                            "empty": "Пусто",
                            "contains": "Содержит",
                            "not": "Не равно",
                            "notEmpty": "Не пусто",
                            "without": "Без"
                        }
                    },
                    "data": "Данные",
                    "deleteTitle": "Удалить условие фильтрации",
                    "logicAnd": "И",
                    "logicOr": "Или",
                    "title": {
                        "0": "Конструктор поиска",
                        "_": "Конструктор поиска (%d)"
                    },
                    "value": "Значение",
                    "add": "Добавить условие",
                    "button": {
                        "0": "Конструктор поиска",
                        "_": "Конструктор поиска (%d)"
                    },
                    "clearAll": "Очистить всё",
                    "condition": "Условие",
                    "leftTitle": "Превосходные критерии",
                    "rightTitle": "Критерии отступа"
                },
                "searchPanes": {
                    "clearMessage": "Очистить всё",
                    "collapse": {
                        "0": "Панели поиска",
                        "_": "Панели поиска (%d)"
                    },
                    "count": "{total}",
                    "countFiltered": "{shown} ({total})",
                    "emptyPanes": "Нет панелей поиска",
                    "loadMessage": "Загрузка панелей поиска",
                    "title": "Фильтры активны - %d"
                },
                "thousands": ",",
                "buttons": {
                    "pageLength": {
                        "_": "Показать 10 строк",
                        "-1": "Показать все ряды"
                    },
                    "pdf": "PDF",
                    "print": "Печать",
                    "collection": "Коллекция <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                    "colvis": "Видимость столбцов",
                    "colvisRestore": "Восстановить видимость",
                    "copy": "Копировать",
                    "copyKeys": "Нажмите ctrl or u2318 + C, чтобы скопировать данные таблицы в буфер обмена.  Для отмены, щелкните по сообщению или нажмите escape.",
                    "copySuccess": {
                        "1": "Скопирована 1 ряд в буфер обмена",
                        "_": "Скопировано %ds рядов в буфер обмена"
                    },
                    "copyTitle": "Скопировать в буфер обмена",
                    "csv": "CSV",
                    "excel": "Excel"
                },
                "decimal": ".",
                "infoThousands": ",",
                "autoFill": {
                    "cancel": "Отменить",
                    "fill": "Заполнить все ячейки <i>%d<i><\/i><\/i>",
                    "fillHorizontal": "Заполнить ячейки по горизонтали",
                    "fillVertical": "Заполнить ячейки по вертикали"
                },
                "datetime": {
                    "previous": "Предыдущий",
                    "next": "Следующий",
                    "hours": "Часы",
                    "minutes": "Минуты",
                    "seconds": "Секунды",
                    "unknown": "Неизвестный",
                    "amPm": [
                        "AM",
                        "PM"
                    ],
                    "months": {
                        "0": "Январь",
                        "1": "Февраль",
                        "10": "Ноябрь",
                        "11": "Декабрь",
                        "2": "Март",
                        "3": "Апрель",
                        "4": "Май",
                        "5": "Июнь",
                        "6": "Июль",
                        "7": "Август",
                        "8": "Сентябрь",
                        "9": "Октябрь"
                    },
                    "weekdays": [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ]
                },
                "editor": {
                    "close": "Закрыть",
                    "create": {
                        "button": "Новый",
                        "title": "Создать новую запись",
                        "submit": "Создать"
                    },
                    "edit": {
                        "button": "Изменить",
                        "title": "Изменить запись",
                        "submit": "Изменить"
                    },
                    "remove": {
                        "button": "Удалить",
                        "title": "Удалить",
                        "submit": "Удалить",
                        "confirm": {
                            "_": "Вы точно хотите удалить %d строк?",
                            "1": "Вы точно хотите удалить 1 строку?"
                        }
                    },
                    "multi": {
                        "restore": "Отменить изменения",
                        "title": "Несколько значений"
                    },
                    "error": {
                        "system": "Возникла системная ошибка (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Подробнее<\/a>)"
                    }
                }
            }
        });
        //buttins of first table
        $('#DataTable tbody').on('click', 'tr', function () {
            if (enableSelect == true) {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $(".toRemove").remove();
                    $("#selected_house").val("");
                    $(".btnTable_first").prop("disabled", true);
                    $(".btnTable_third").prop("disabled", true);
                    $(".btnTable_second").prop("disabled", true);
                    $(".toRemoveSale").remove();
                }
                else {
                    table_first.$('tr.active').removeClass('active');
                    $(this).addClass('active');
                    $("#selected_house").val($(this).closest('tr').find('.id').text());
                    $(".toRemove").remove();
                    selectChg();
                    $(".btnTable_first").prop("disabled", false);
                    $(".btnTable_third").prop("disabled", true);
                    $(".btnTable_second").prop("disabled", true);
                    $(".toRemoveSale").remove();
                }
            }
        });
        //buttons of second table
        $('#DataTable_second tbody').on('click', 'tr', function () {
            if (enableSelect == true) {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $("#selected_section").val("");
                     $("#selected_section_sale").val("");
                    $(".btnTable_second").prop("disabled", true);
                    $(".btnTable_third").prop("disabled", true);
                    $(".btnTable_third_add").prop("disabled", true);
                    $(".toRemoveSale").remove();
                }
                else {
                    $('tr.toRemove').removeClass('active');
                    $(this).addClass('active');
                    $("#selected_section").val($(this).closest('tr').find('.id').text());
                    $("#selected_section_sale").val($(this).closest('tr').find('.id').text());
                    $(".btnTable_second").prop("disabled", false);
                    $(".btnTable_third_add").prop("disabled", false);
                    
                    $(".toRemoveSale").remove();
                    selectSale();
                }
            }
        });
        //buttons of third table
        $('#DataTable_third tbody').on('click', 'tr', function () {
            if (enableSelect == true) {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $("#selected_sales").val("");
                    $(".btnTable_third").prop("disabled", true);
                }
                else {
                    $('tr.toRemoveSale').removeClass('active');
                    $(this).addClass('active');
                    $("#selected_sales").val($(this).closest('tr').find('.id').text());
                    $(".btnTable_third").prop("disabled", false);
                }
            }
        });

        $("#DataTable>tbody>tr:first").attr("class", "active");
        $("#selected_house").val($("#DataTable>tbody>tr:first").find('.id').text());
        $(".toRemove").remove();
        selectChg();
    });

    var appendTable = document.getElementById("appendHere");

    var appendTableSale = document.getElementById("appendHereSale");
    //To get section info
    function selectChg() {
        $.ajax({
            type: "GET",
            url: '/ajax/getSection/',
            data: {
                'selected': $("#selected_house").val()
            },
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.objects.length; i++) {
                    var tr = document.createElement('tr')
                    tr.setAttribute("class", "toRemove")
                    appendTable.appendChild(tr);
                    for (var j = 0; j < 20; j++) {
                        if (j > 7) {
                            var td = document.createElement('td');
                            var a = document.createElement('a');
                            a.setAttribute("class", "col-12 border border-warning btn btn-light");
                            a.setAttribute("role", "button");
                            a.setAttribute("data-toggle", "popover");
                            a.setAttribute("data-trigger", "hover");
                            a.setAttribute("title", "Дополнительная информация");
                            var min_area;
                            var max_area;
                            var total;
                            if (data.objects[i][j + 1] != null)
                                min_area = data.objects[i][j + 1];
                            else
                                min_area = "—"
                            if (data.objects[i][j + 2] != null)
                                max_area = data.objects[i][j + 2];
                            else
                                max_area = "—"
                            a.setAttribute("data-content", "Минимальная площадь: " + min_area + "\n" + "Максимальная площадь: " + max_area);
                            if (data.objects[i][j] != null)
                                total = data.objects[i][j];
                            else
                                total = "—"
                            var text = document.createTextNode(total);
                            j = j + 2;
                            a.appendChild(text);

                            td.appendChild(a);
                            td.setAttribute("class", "p-1");
                            tr.appendChild(td);
                        }
                        else if (j > 0 && j < 8) {
                            var td = document.createElement('td');                           
                            td.innerHTML = data.objects[i][j];
                            tr.appendChild(td);
                        }
                        else {
                            var td = document.createElement('td');
                            td.setAttribute("class", "id");
                            td.setAttribute("style", "display: none;");
                            td.innerHTML = data.objects[i][j];
                            tr.appendChild(td);
                        }
                    }
                    $('[data-toggle="popover"]').popover();
                }
            },
            error: function () {
                enableSelect = false;
                $(".btnTable_first").prop("disabled", true);
            }
        })
    }
    function selectSale() {
        $.ajax({
            type: "GET",
            url: '/ajax/getSales/',
            data: {
                'selectedSection': $("#selected_section").val()
            },
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.sales.length; i++) {
                    var tr = document.createElement('tr');
                    tr.setAttribute("class", "toRemoveSale");
                    appendTableSale.appendChild(tr);
                    for (var j = 0; j < 30; j++) {
                        if (j >= 3 && j < 23) {
                            var td = document.createElement('td');
                            var a = document.createElement('a');
                            a.setAttribute("class", "col-12 border border-warning btn btn-light");
                            a.setAttribute("role", "button");
                            a.setAttribute("data-toggle", "popover");
                            a.setAttribute("data-trigger", "hover");
                            a.setAttribute("title", "Дополнительная информация");
                            var ap_to_sale;
                            var ap_min_price;
                            var ap_max_price;
                            var ap_avg_price;
                            var ap_area_to_sale;

                            if (data.sales[i][j + 1] != null) {
                                ap_min_price = data.sales[i][j + 1];
                                if (data.sales[i][26] != null)
                                    ap_min_price_dol = ap_min_price / data.sales[i][26];
                            }
                            else {
                                ap_min_price = "—";
                                ap_min_price_dol = "—";
                            }
                            if (data.sales[i][j + 2] != null) {
                                ap_max_price = data.sales[i][j + 2];
                                if (data.sales[i][26] != null)
                                    ap_max_price_dol = ap_max_price / data.sales[i][26];
                            }
                            else {
                                ap_max_price = "—"
                                ap_max_price_dol = "—"
                            }
                            if (data.sales[i][j + 3] != null) {
                                ap_avg_price = data.sales[i][j + 3];
                                if (data.sales[i][26] != null)
                                    ap_avg_price_dol = ap_avg_price / data.sales[i][26];
                            }
                            else {
                                ap_avg_price = "—"
                                ap_avg_price_dol = "—"
                            }
                            if (data.sales[i][j + 4] != null)
                                ap_area_to_sale = data.sales[i][j + 4];
                            else {
                                ap_area_to_sale = "—"
                            }
                            a.setAttribute("data-content", "Минимальная стоимость: " + ap_min_price + "(" + ap_min_price_dol.toFixed(2) + "$)" + "\
                            \n" + "Максимальная стоимость: " + ap_max_price + "(" + ap_max_price_dol.toFixed(2) + "$)" + "\n \
                            Средняя(стоимость): " + ap_avg_price + "(" + ap_avg_price_dol.toFixed(2) + "$)" + "\n" + "Площадь(осталось): " + ap_area_to_sale);
                            if (data.sales[i][j] != null)
                                ap_to_sale = data.sales[i][j]
                            else
                                ap_to_sale = "—"
                            var text = document.createTextNode(ap_to_sale)
                            j = j + 4;
                            a.appendChild(text);
                            td.appendChild(a);
                            td.setAttribute("class", "p-1");
                            tr.appendChild(td);
                        }
                        else if (j < 3) {
                            var td = document.createElement('td');
                            td.setAttribute("class", "id");
                            if (j == 0)
                                td.setAttribute("style", "display: none;")
                            td.innerHTML = data.sales[i][j];
                            tr.appendChild(td);
                        }
                        else if (j == 23) {
                            var area_remain;
                            var td = document.createElement('td');
                            td.setAttribute("class", "id");
                            td.innerHTML = area_remain;;
                            tr.appendChild(td);
                        }
                        else if (j >= 24 && j < 26) {
                            var td = document.createElement('td');
                            var a = document.createElement('a');
                            a.setAttribute("class", "col-12 border border-warning btn btn-light");
                            a.setAttribute("role", "button");
                            a.setAttribute("data-toggle", "popover");
                            a.setAttribute("data-trigger", "hover");
                            a.setAttribute("title", "Дополнительная информация");
                            var parking_price_min;
                            var parking_price_max;
                            if (data.sales[i][j] != null) {
                                parking_price_min = data.sales[i][j];
                                if (data.sales[i][26] != null)
                                    parking_price_min_dol = parking_price_min / data.sales[i][26];
                            }
                            else {
                                parking_price_min = "—";
                                parking_price_min_dol = "—";
                            }
                            if (data.sales[i][j + 1] != null) {
                                parking_price_max = data.sales[i][j + 1];
                                if (data.sales[i][26] != null)
                                    parking_price_max_dol = parking_price_max / data.sales[i][26];
                            }
                            else {
                                parking_price_max = "—";
                                parking_price_max_dol = "—";
                            }

                            a.setAttribute("data-content", "Минимальная стоимость: " + parking_price_min + "(" + parking_price_min_dol.toFixed(2) + "$)" + "\
                            \n" + "Максимальная стоимость: " + parking_price_max + "(" + parking_price_max_dol.toFixed(2) + "$)");
                            j = j + 1;
                            var ielem = document.createElement("i");
                            ielem.setAttribute("class", "fas fa-search");
                            a.appendChild(ielem);
                            td.appendChild(a);
                            td.setAttribute("class", "p-1")
                            tr.appendChild(td);
                        }
                        else if (j >= 26) {
                            var td = document.createElement('td');
                            var a = document.createElement('a');
                            a.setAttribute("class", "col-12 border border-warning btn btn-light");
                            a.setAttribute("role", "button");
                            a.setAttribute("data-toggle", "popover");
                            a.setAttribute("data-trigger", "hover");
                            a.setAttribute("title", "Дополнительная информация");
                            var dollar;
                            var min_price;
                            var max_price;
                            var avg_price;
                            if (data.sales[i][j] != null)
                                dollar = data.sales[i][j];
                            else
                                dollar = "—";
                            if (data.sales[i][j + 1] != null) {
                                min_price = data.sales[i][j + 1];
                                if (data.sales[i][26] != null)
                                    min_price_dol = min_price / data.sales[i][26];
                            }
                            else {
                                min_price = "—";
                                min_price_dol = "—"
                            }
                            if (data.sales[i][j + 2] != null) {
                                max_price = data.sales[i][j + 2];
                                if (data.sales[i][26] != null)
                                    max_price_dol = max_price / data.sales[i][26];
                            }
                            else {
                                max_price = "—";
                                max_price_dol = "—"
                            }
                            if (data.sales[i][j + 3] != null) {
                                avg_price = data.sales[i][j + 3];
                                if (data.sales[i][26] != null)
                                    avg_price_dol = avg_price / data.sales[i][26];
                            }
                            else {
                                avg_price = "—";
                                avg_price_dol = "—"
                            }
                            a.setAttribute("data-content", "Доллар на тот момент времени: " + dollar + "\n" + "Мин. стоимость квартир: " + min_price + "(" + min_price_dol.toFixed(2) + "$)" + "\
                            \n" + "Макс. стоимость квартир: " + max_price + "(" + max_price_dol.toFixed(2) + "$)" + "\n \
                            Средняя стоимость квартир: " + avg_price + "(" + avg_price_dol.toFixed(2) + "$)");
                            j = j + 3;
                            var ielem = document.createElement("i");
                            ielem.setAttribute("class", "fas fa-search");
                            a.appendChild(ielem);
                            td.appendChild(a);
                            td.setAttribute("class", "p-1")
                            tr.appendChild(td);
                        }
                    }
                    $('[data-toggle="popover"]').popover()
                }
            }
        })
    }
</script>
{% endblock %}