    {% extends "app/layout.html" %}

{% block content %}
{% load static %}

    <div class="container-fluid bg-trasparent my-5 p-3" style="position: relative;">
    {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
            {% endfor %}
        <div class="row row-cols-1 justify-content-center row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mt-5">
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-user-friends fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Заказчики</h5>
                        <p class="card-text"></p>
                        <div class="text-center mt-5"> <a href="{% url 'customer_menu' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-user-plus fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Регистрация пользователя</h5>
                        <p class="card-text"></p>
                        <div class="text-center mt-5"> <a href="{% url 'register' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-clipboard-list fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Логи системы</h5>
                        <p class="card-text"></p>
                        <div class="text-center mt-5"> <a href="{% url 'logger' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
             <div class="col mt-3">
                <div class="card  text-center h-100 shadow-sm rounded">
                    <div class="card-img-top" style="color: orange; "><i class="fas fa-terminal fa-9x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title my-0 my-2">Админ панель</h5>
                        <p class="card-text"></p>
                        <div class="text-center mt-5"> <a href="{% url 'admin:index' %}" class="stretched-link"></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
  $(window).on('load', function () {
    $('#loading').hide();
  }) 
</script>
{% endblock %}