{% extends "app/layout.html" %}
{# app/appfunct/MatordReview.html #}

{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<div class="container-fluid">
<form action='.' method='post'>
  {% csrf_token %}
    <div class="row">
        <h2 class="offset-md-1">Order No.{{order}}</h2>
        <h2 class="offset-md-5">Materials</h2>
    </div>
    <div class="row"">
        <div class="row justify-content-md-center col-7">
            {% render_table table_1 %}           
        </div>
        <div class="row justify-content-md-center col-5">
            {% render_table table_2 %}
        </div>
         <h5 class="offset-8" id="total">Total price: 0</h5>
    </div>
    {% if isopen == 'true' %}
    <div class="offset-md-8">
        <input type="submit" name="compl" value="Complete this order" class="btn btn-primary ml-1">
    </div>
     {% endif %}
</form>
</div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script>
   $( document ).ready(function() {       
        var x1 = document.getElementsByClassName("vprice");
        var x2 = document.getElementsByClassName("vcount");
        var sum = 0;
        var total = 0;
        for (var i = 0; i < x1.length; i++) {
            if (x1[i].innerText != "0")
                sum = parseFloat(x1[i].innerText) * parseInt(x2[i].innerText);
                total = total + sum;
        }
        total = total.toFixed(2);
        document.getElementById('total').innerText = "Total price: " + total.toString()
    })
</script>
{% endblock %}
