{% extends "app/layout.html" %}
{# app/MatordlAdd.html #}

{% load render_table from django_tables2 %}
{% load static %}

{% block content %}

<h2 class="pb-1 border-bottom">Create new order</h2>
<div class="container-fluid">
    <div class="row">
        <form class="col-2 mt-2" action='.' method='post'>
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="daten">Order date:</label>
                <input class="form-control" type="date" readonly name="datetimenow" id="daten">
            </div>
            <div class="mb-3">
                {% if dateset == 'false' %}
                <label class="form-label" for="datec">Order completion date:</label>
                <input class="form-control" type="date" name="datetime" id="datec" required>
                {% elif dateset == 'true' %}
                <label class="form-label" for="dateok">Order completion date:</label>
                <input class="form-control" type="date" disabled value="{{ dateval }}" id="dateok" required>
                {% endif %}
            </div>
            {% if dateset == 'false' %}
            <input type="submit" name="nextto" class="offset-5 btn btn-primary" value="Next step">
            {% elif dateset == 'true' %}
            <input type="submit" name="nextto" disabled class="offset-5 btn btn-primary" value="Next step">
            {% endif %}
        </form>

        {% if nextto == 'true' %}
        <form class="col-10" action='.' method='post'>
            <div class="row justify-content-md-center col-auto offset-1">
                {% csrf_token %}
                <div class="layer mb-3">
                    {% render_table table %}
                </div>
            </div>
            <input type="submit" name="add" value="Add materials" class="offset-9 btn btn-primary">
        </form>
        {% endif %}
    </div>       
        {% if nextto == 'true' %}
    <form class="mt-3 col-6 offset-5" action='.' method='post' >
            {% csrf_token %}
            <div class="layer mb-3">
                {% render_table addtable %}
            </div>
        <h5 class="offset-9" id="total">Total price: 0</h5>
        {% if access == 'false' %}
        <input type="submit" disabled name="create" class="offset-9 btn btn-primary" value="Create order">
        {% elif access == 'true' %}
        <input type="submit" name="create" class="offset-9 btn btn-primary" value="Create order">
        {% endif %}
    </form>
        {% endif %}
</div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script>
    $('.inpt').change(function () {
        var row = $(this).closest("tr");
        var vprice = row.find('.vprice').text();
        var count = parseFloat($(this).val());
        vprice = parseFloat(vprice);
        row.find('.vtotal').text((count * vprice).toFixed(2));

        var x = document.getElementsByClassName("vtotal");
        var total = 0;
        for (var i = 0; i < x.length; i++) {
            if (x[i].innerText != "0")
                total += parseFloat(x[i].innerText);
        }
        total = total.toFixed(2);
        document.getElementById('total').innerText = "Total price: " + total.toString();
    })
</script>
<script>
    window.onload = function () {
        var d = new Date();
        // Build ISO 8601 format date string
        var s = d.getFullYear() + '-' +
            ('0' + (d.getMonth() + 1)).slice(-2) + '-' +
            ('0' + d.getDate()).slice(-2);

        // Set the value of the value and min attributes
        var node = document.getElementById('datec');
        if (node) {
            node.setAttribute('min', s);
            node.setAttribute('value', s);
        }

        var node = document.getElementById('daten');
        if (node) {
            node.setAttribute('min', s);
            node.setAttribute('value', s);
        }
    }
</script>
{% endblock %}