{% extends "app/layout.html" %}
{# app/appfunct/MatordReview.html #}

{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<div class="container-fluid">
<form action='.' method='post'>
  {% csrf_token %}
    <div class="row">
        <h2 class="offset-md-1">Order No.{{order}}</h2>
        <h2 class="offset-md-5">Materials</h2>
    </div>
    <div class="row"">
        <div class="row justify-content-md-center col-7 offset-1 px-0">
            {% render_table table_1 %}           
        </div>
        <div class="row justify-content-md-center col-4 px-0">
            {% render_table table_2 %}
        </div>
    </div>
    <div class="offset-1">
        <div class="row">
            <div class="col-8 px-0">
                <label for="desk" class="form-label">Description</label>
                <input type="text" name="desk" readonly value="{{desk}}" class="form-control" id="desk">
            </div>
            {% if fileexist == 'true' %}
            <div class="col-4">
                <label for="compl" class="form-label">Blueprints:</label>
                <br>
                <input type="submit" name="bp" id="compl" value="Review blueprints" class="btn btn-primary ml-1">
            </div>
            {% endif %}
        </div>
        <div class="row pl-1 col-8">
           <div class="mx-2 mt-2">
                <label class="form-label" for="scost" class="form-label">Company service costs</label>
                <input type="text" readonly name="scost" class="num form-control" value="{{scost}}" id="scost">
            </div>
           <div class="mx-2 mt-2">
                <label class="form-label" for="ocost" class="form-label">Other construction costs</label>
                <input type="text" readonly name="ocost" class="num form-control" value="{{ocost}}" id="ocost">
            </div>
             <div class="mx-2 mt-2">
                <label class="form-label" for="mtotal" class="form-label">Total materials cost</label>
                <input type="text" readonly name="mtotal" class="num form-control" id="mtotal">
            </div> 
            <div class="mx-2 mt-2">
                <label class="form-label" for="ftotal" class="form-label">Full cost</label>
                <input type="text" readonly name="ftotal" class="num form-control" id="ftotal">
            </div>
        </div>
    </div>
    <br>
    {% if isopen == 'true' %}
    <div class="offset-md-7">
        <input type="submit" name="compl" value="Complete this order" class="btn btn-primary ml-1">
        <input type="submit" name="cancl" value="Cancel this order" class="btn btn-primary ml-1">
    </div>
     {% endif %}
</form>
</div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script>
   $( document ).ready(function() {       
        var x1 = document.getElementsByClassName("vprice");
        var x2 = document.getElementsByClassName("vcount");
        var sum = 0;
        var total = 0;
        for (var i = 0; i < x1.length; i++) {
            if (x1[i].innerText != "0")
                sum = parseFloat(x1[i].innerText) * parseInt(x2[i].innerText);
                total = total + sum;
        }
        total = total.toFixed(2);
        document.getElementById('mtotal').value = total;

        var scost = parseFloat(document.getElementById('scost').value);
        var ocost = parseFloat(document.getElementById('ocost').value);
        var mtotal = parseFloat(document.getElementById('mtotal').value);
        var ftotal = 0;
        ftotal = scost + ocost + mtotal;
        document.getElementById('ftotal').value = ftotal;
    })
</script>
{% endblock %}
